<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../../bower_components/paper-styles/element-styles/paper-material-styles.html">
<link rel="import" href="../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import"
      href="../../../../bower_components/etools-searchable-multiselection-menu/etools-searchable-multiselection-menu.html">
<link rel="import" href="../../../../bower_components/etools-loading/etools-loading.html">

<!-- <link rel="import" href="dashboard-data/partners-dropdown-data.html"> -->
<!-- <link rel="import" href="dashboard-data/map-interventions-data.html"> -->
<!-- <link rel="import" href="dashboard-data/map-locations-data.html"> -->

<link rel="import" href="marker-dialog.html">
<link rel="import" href="../../../../bower_components/leaflet-map/leaflet-map.html">
<link rel="import" href="../../../../bower_components/leaflet-map/leaflet-marker.html">

<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="../../styles/list-styles.html">
<link rel="import" href="../../styles/page-layout-styles.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="../../mixins/dropdown-mixin.html">
<link rel="import" href="../../mixins/common-general-mixin.html">
<link rel="import" href="../../mixins/list-filters-mixin.html">
<link rel="import" href="../../mixins/redux-store-mixin.html">

<dom-module id="view-map">
  <template>
    <style include="shared-styles list-styles page-layout-styles iron-flex iron-flex-factors iron-flex-alignment paper-material-styles">
      :host {
        --paper-toggle-button-checked-bar-color: #88D4F7; /* TODO: replace with app-theme var */
        --paper-toggle-button-checked-button-color: #3baaee; /* TODO: replace with app-theme var */
      }

      leaflet-map {
        height: 650px;
      }

      paper-menu {
        max-width: 266px;
      }

      etools-searchable-multiselection-menu {
        width: 366px;
      }

      .toggler {
        display: flex;
        bottom: 8px;
        margin-bottom: 20px;
        padding-left: 24px;
      }

      p {
        margin: 0;
      }

      paper-toggle-button {
        margin-left: 16px;
      }

      .error {
        color: red;
        left: 24px;
        top: 60px;
        position: absolute;
      }

      div.paper-material {
        padding: 24px;
      }
    </style>
    <!-- <partners-dropdown-data partners="{{partners}}" active="[[active]]"></partners-dropdown-data> -->
    <!-- <map-interventions-data id="mapData"
                            filter="[[mapFilter]]"
                            int-loc-map="{{intLocMap}}"
                            filtered-interventions="{{filteredInterventions}}"
                            show-loading></map-interventions-data> -->
    <!-- <map-locations-data id="locationsData" active="[[active]]" filtered-locations="{{filteredLocations}}"
                        show-loading></map-locations-data> -->
    <div class="list-panel listControls paper-material" elevation="1">
      <div class="wrap-controls">
        <div class="title-row">
          <h1 sub-title>Partnerships</h1>
        </div>
        <p hidden$="[[hasResult]]" class="error">No results for this query</p>

      </div>
      <div class="filters-divider"></div>
      <div class="wrap-controls">
        <template is="dom-repeat" items="[[selectedFilters]]" as="filter">
          <div class="dropdown-with-clear-btn">
            <template is="dom-if" if="[[_partnerFilter(filter)]]">
              <etools-searchable-multiselection-menu
                  label="[[filter.filterName]]"
                  placeholder="&#8212;"
                  options="[[filter.selectionOptions]]"
                  value="[[filter.alreadySelected]]"
                  on-value-change="_partnerChanged"
                  custom-object-options="[[filter.selectionOptions]]"
                  option-value="id"
                  option-label="name"
                  data-filter-path$="[[filter.path]]"></etools-searchable-multiselection-menu>
              <paper-icon-button class="remove" icon="cancel"
                                on-tap="removeFilter"
                                data-filter-name$="[[filter.filterName]]"
                                data-reset-path$="[[filter.path]]">
              </paper-icon-button>
            </template>
            <template is="dom-if" if="[[!_partnerFilter(filter)]]">
              <paper-icon-button class="clear dark" icon="close" on-tap="clearDropdown"></paper-icon-button>
              <paper-dropdown-menu label$="[[filter.filterName]]" noink>
                <paper-menu class="dropdown-content"
                            attr-for-selected="id"
                            on-iron-select="filterValueChanged"
                            on-iron-deselect="filterValueChanged"
                            data-filter-path$="[[filter.path]]"
                            selected=[[filter.alreadySelected]]>
                  <template is="dom-repeat" items="[[filter.selectionOptions]]" as="filterOption">
                    <paper-item id="[[filterOption.id]]">[[filterOption.name]]</paper-item>
                  </template>
                </paper-menu>
              </paper-dropdown-menu>
              <paper-icon-button class="remove" icon="cancel"
                                on-tap="removeFilter"
                                data-filter-name$="[[filter.filterName]]"
                                data-reset-path$="[[filter.path]]">
              </paper-icon-button>
            </template>
          </div>
        </template>
      </div>
      <div class="fixed-controls">
        <div class="filters-divider"></div>
        <paper-menu-button id="filterMenu">
          <paper-button class="button dropdown-trigger">
            <iron-icon icon="filter-list"></iron-icon>
            add filter
          </paper-button>
          <paper-menu class="dropdown-content">
            <template is="dom-repeat" items="[[availableListFilterOptions]]">
              <paper-item on-tap="selectFilter">[[item.filterName]]</paper-item>
            </template>
          </paper-menu>
        </paper-menu-button>
      </div>
    </div>
    <div class="map paper-material" elevation="1">
      <template is="dom-if" if="[[staticDataLoaded]]">
        <leaflet-map fit-to-markers zoom="[[country.initial_zoom]]" longitude="[[country.longitude]]"
                    latitude="[[country.latitude]]">
          <leaflet-tilelayer
              url="https://api.mapbox.com/styles/v1/mapbox/light-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiZXRvb2xzIiwiYSI6ImNqMGw4N3NtejAyMDIzMnBocHBsYjBsbXoifQ.VA-gzjqtTu-vr-8Ex9oEpA">
          </leaflet-tilelayer>
          <template is="dom-repeat" items="[[markers]]" as="marker">
            <leaflet-marker id="[[marker.id]]"
                            latitude="[[marker.point.latitude]]"
                            longitude="[[marker.point.longitude]]"
                            on-click="_openModal"></leaflet-marker>
          </template>
        </leaflet-map>
      </template>
    </div>
  </template>

  <script>
    /**
     * @polymer
     * @mixinFunction
     * @appliesMixin EtoolsDashboard.Mixins.CommonGeneral
     * @appliesMixin EtoolsDashboard.Mixins.Dropdown
     * @appliesMixin EtoolsDashboard.Mixins.ReduxStore
     * @appliesMixin EtoolsDashboard.Mixins.ListFilters
     */
    const ViewMapMixins = compose(
      EtoolsDashboard.Mixins.ReduxStore,
      EtoolsDashboard.Mixins.ListFilters,
      EtoolsDashboard.Mixins.Dropdown,
      EtoolsDashboard.Mixins.CommonGeneral
    )(Polymer.Element)

    /**
     * `view-map` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     */
    class ViewMap extends ViewMapMixins {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'view-map';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          active: {
            type: Boolean,
            observer: '_init'
          },
          hasResult: {
            type: Boolean,
            value: true
          },
          countryProgrammes: {
            type: Array,
            statePath: 'countryProgrammes'
          },
          country_programme: {
            type: String,
            observer: '_filterChanged'
          },
          sectors: {
            type: Array,
            statePath: 'sectors',
          },
          sector: {
            type: String,
            observer: '_filterChanged'
          },
          statuses: {
            type: Array,
            statePath: 'static.intervention_status'
          },
          userCountry: {
            type: Object,
            statePath: 'userCountry',
            observer: '_validateUserCountry'
          },
          country: {
            type: Object,
          },
          status: {
            type: String,
            observer: '_filterChanged'
          },
          selectedFilters: {
            type: Array,
          },
          dashMap: {
            type: Object
          },
          mapFilter: {
            type: Object,
          },
          filteredInterventions: {
            type: Array,
            observer: '_callLocations'
          },
          filteredLocations: {
            type: Array,
            observer: '_plotMarkers'
          },
          partner: {
            type: String,
            observer: '_filterChanged'
          },
          partners: {
            type: Array,
            value: []
          },
          intLocMap: {
            type: Object,
          },
          availableListFilterOptions: {
            type: Array,
            value: []
          },
          staticDataLoaded: {
            type: Boolean,
            value: false
          },
          markerDialog: Object,
        };
      }

      static get observers() {
        return [
          '_init(countryProgrammes,sectors,statuses,partners,userCountry)'
        ]
      }

      /**
       * Instance of the element is created/upgraded. Use: initializing state,
       * set up event listeners, create shadow dom.
       * @constructor
       */
      constructor() {
        super();
      }

      /**
       * Use for one-time configuration of your component after local DOM is initialized. 
       */
      ready() {
        super.ready();

        Polymer.RenderStatus.afterNextRender(this, function() {
          L.Icon.Default.imagePath = '../../dash/images';
          let markerEl = document.createElement('marker-dialog');
          markerEl.setAttribute('id', 'markerDialog');
          Polymer.dom(document.querySelector('body')).appendChild(markerEl);
          this.markerDialog = document.querySelector('#markerDialog');
        });
      }

      _openModal(e) {
        let model = e.model.marker;
        let interventions = _.values(this.intLocMap[model.id].interventions);
        let data = {
          name: model.name,
          interventions: interventions,
          type: model.location_type
        };
        this.markerDialog.data = data;
        this.markerDialog.opened = true;
      }

      _init() {
        if (!this.active) {
          return;
        }
        if (_.isEmpty(this.intLocMap)) {
          // initialize the intLocMap object
          this.set('mapFilter', '');
          this.fire('global-loading', {
            message: 'Loading page data...',
            active: true
          });
        }

        if (!this._allHaveValues('countryProgrammes', 'sectors', 'statuses', 'partners', 'userCountry')) {
          return;
        }else {
          this.set('staticDataLoaded', true);
          this._validateUserCountry();
          this.fire('global-loading');
        }
//         first render of map only when tab is active, otherwise map tiles don't show
        if (_.isEmpty(this.availableListFilterOptions)) {
          this.initListFiltersData([
            {
              filterName: 'Country Programme',
              type: 'dropdown',
              alreadySelected: null,
              selectionOptions: _.map(this.countryProgrammes, function(cp) {
                return {
                  name: cp.name,
                  id: cp.id
                };
              }),
              path: 'country_programme'
            },
            {
              filterName: 'Sectors',
              type: 'dropdown',
              alreadySelected: null,
              selectionOptions: _.map(this.sectors, function(o) {
                return {
                  name: o.label,
                  id: o.value
                };
              }),
              path: 'sector'
            },
            {
              filterName: 'Status',
              type: 'dropdown',
              alreadySelected: null,
              selectionOptions: _.map(this.statuses, function(o) {
                return {
                  name: o.label,
                  id: o.value
                };
              }),
              path: 'status'
            },
            {
              filterName: 'Partners',
              type: 'dropdown',
              alreadySelected: null,
              selectionOptions: _.map(this.partners, function(o) {
                return {
                  name: o.label,
                  id: o.value
                };
              }),
              path: 'partner'
            },
          ]);
        }
      }

      _filterChanged(filt) {
        let self = this;
        let newFilter = {};
        ['country_programme', 'status', 'sector', 'partner'].map(function(f) {
          if (self[f]) {
            newFilter[f] = self[f];
          }
        });
        if (_.isEqual(this.mapFilter, newFilter)) {
          return;
        }
        if (_.isEmpty(newFilter)) {
          this.set('markers', []);
          this.set('showActive', false);
          return;
        }
        this.set('hasResult', true);
        this.set('mapFilter', newFilter);
        this.fire('global-loading', {
          message: 'Loading interventions...',
          active: true
        });
      }

      // ensure redux items loaded before initializing the filters
      _callLocations(locations) {
        this.$.locationsData.query(locations);
      }

      _plotMarkers(locations) {
        if (!locations.length) {
          this.set('hasResult', false);
        }
        this.set('markers', locations);
        this.fire('global-loading');
      }

      _partnerFilter(filter) {
        return filter.filterName === 'Partners';
      }

      _partnerChanged(val) {
        let id = _.get(val, 'detail.selectedValues.id');
        this.set('partner', id);
      }

      _validateUserCountry(userCountry) {
        if (userCountry) {
          if (!userCountry.longitude || !userCountry.latitude) {
            this.set('country', {
              latitude: '40',
              longitude: '38',
              initial_zoom: 2
            });
            console.warn('The current user country does not provide map coordinates');
          } else {
            this.set('country', userCountry);
          }
        }
      }
    }

    window.customElements.define(ViewMap.is, ViewMap);
  </script>
</dom-module>