<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../mixins/common-general-mixin.html">
<link rel="import" href="../../mixins/list-filters-mixin.html">
<link rel="import" href="../../mixins/redux-store-mixin.html">
<link rel="import" href="data/partners-dropdown-data-mixin.html">

<link rel="import" href="../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../../bower_components/app-route/app-route.html">
<link rel="import" href="../../../../bower_components/leaflet-map/leaflet-map.html">
<link rel="import" href="../../../../bower_components/etools-dropdown/etools-dropdown-multi.html">

<link rel="import" href="elements/marker-dialog.html">

<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="../../styles/list-styles.html">
<link rel="import" href="../../styles/page-layout-styles.html">
<link rel="import" href="../../../../bower_components/paper-styles/element-styles/paper-material-styles.html">

<dom-module id="view-map">
  <template>
    <style include="shared-styles paper-material-styles list-styles page-layout-styles">
      /* :host {
        --paper-toggle-button-checked-bar-color: #88D4F7; /* TODO: replace with app-theme var */
        --paper-toggle-button-checked-button-color: #3baaee; /* TODO: replace with app-theme var */
      } */

      leaflet-map {
        height: 650px;
      }

      paper-menu {
        max-width: 266px;
      }

      etools-searchable-multiselection-menu {
        width: 366px;
      }

      .toggler {
        display: flex;
        bottom: 8px;
        margin-bottom: 20px;
        padding-left: 24px;
      }

      p {
        margin: 0;
      }

      paper-toggle-button {
        margin-left: 16px;
      }

      .error {
        color: var(--error-color);
        left: 24px;
        top: 60px;
        position: absolute;
      }
    </style>
  </template>
  <app-route route="{{route}}"
             pattern="/dash/map"
             active="{{active}}"
             query-params="{{queryParams}}"></app-route>
  
  <script>
    const EtoolsMapMixin = compose(
      EtoolsDashboard.Mixins.PartnersDropdownData
    )(Polymer.Element);
    /**
     * @polymer
     * @mixinFunction
     * @appliesMixin EtoolsDashboard.Mixins.CommonGeneral
     * @appliesMixin EtoolsDashboard.Mixins.Dropdown
     * @appliesMixin EtoolsDashboard.Mixins.ReduxStore
     * @appliesMixin EtoolsDashboard.Mixins.ListFilters
     */
    const ViewMapMixins = compose(
      EtoolsDashboard.Mixins.ReduxStore,
      EtoolsDashboard.Mixins.ListFilters,
      EtoolsDashboard.Mixins.Dropdown,
      EtoolsDashboard.Mixins.CommonGeneral
    )(Polymer.Element)

    /**
     * `view-map` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     */
    class ViewMap extends EtoolsMapMixin {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'view-map';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
    
        };
      }

      static get observers() {
        return [
          '_init(countryProgrammes,sectors,statuses,partners,userCountry)'
        ]
      }

      /**
       * Instance of the element is created/upgraded. Use: initializing state,
       * set up event listeners, create shadow dom.
       * @constructor
       */
      constructor() {
        super();
      }

      /**
       * Use for one-time configuration of your component after local DOM is initialized.
       */
      ready() {
        super.ready();

        Polymer.RenderStatus.afterNextRender(this, function() {
    
        });
      }

      _openModal(e) {
        let model = e.model.marker;
        let interventions = _.values(this.intLocMap[model.id].interventions);
        let data = {
          name: model.name,
          interventions: interventions,
          type: model.location_type
        };
        this.markerDialog.data = data;
        this.markerDialog.opened = true;
      }

      _init() {
        if (!this.active) {
          return;
        }
        if (_.isEmpty(this.intLocMap)) {
          // initialize the intLocMap object
          this.set('mapFilter', '');
          this.fire('global-loading', {
            message: 'Loading page data...',
            active: true
          });
        }

        if (!this._allHaveValues('countryProgrammes', 'sectors', 'statuses', 'partners', 'userCountry')) {
          return;
        }else {
          this.set('staticDataLoaded', true);
          this._validateUserCountry();
          this.fire('global-loading');
        }
//         first render of map only when tab is active, otherwise map tiles don't show
        if (_.isEmpty(this.availableListFilterOptions)) {
          this.initListFiltersData([
            {
              filterName: 'Country Programme',
              type: 'dropdown',
              alreadySelected: null,
              selectionOptions: _.map(this.countryProgrammes, function(cp) {
                return {
                  name: cp.name,
                  id: cp.id
                };
              }),
              path: 'country_programme'
            },
            {
              filterName: 'Sectors',
              type: 'dropdown',
              alreadySelected: null,
              selectionOptions: _.map(this.sectors, function(o) {
                return {
                  name: o.label,
                  id: o.value
                };
              }),
              path: 'sector'
            },
            {
              filterName: 'Status',
              type: 'dropdown',
              alreadySelected: null,
              selectionOptions: _.map(this.statuses, function(o) {
                return {
                  name: o.label,
                  id: o.value
                };
              }),
              path: 'status'
            },
            {
              filterName: 'Partners',
              type: 'dropdown',
              alreadySelected: null,
              selectionOptions: _.map(this.partners, function(o) {
                return {
                  name: o.label,
                  id: o.value
                };
              }),
              path: 'partner'
            },
          ]);
        }
      }

      _filterChanged(filt) {
        let self = this;
        let newFilter = {};
        ['country_programme', 'status', 'sector', 'partner'].map(function(f) {
          if (self[f]) {
            newFilter[f] = self[f];
          }
        });
        if (_.isEqual(this.mapFilter, newFilter)) {
          return;
        }
        if (_.isEmpty(newFilter)) {
          this.set('markers', []);
          this.set('showActive', false);
          return;
        }
        this.set('hasResult', true);
        this.set('mapFilter', newFilter);
        this.fire('global-loading', {
          message: 'Loading interventions...',
          active: true
        });
      }

      // ensure redux items loaded before initializing the filters
      _callLocations(locations) {
        this.$.locationsData.query(locations);
      }

      _plotMarkers(locations) {
        if (!locations.length) {
          this.set('hasResult', false);
        }
        this.set('markers', locations);
        this.fire('global-loading');
      }

      _partnerFilter(filter) {
        return filter.filterName === 'Partners';
      }

      _partnerChanged(val) {
        let id = _.get(val, 'detail.selectedValues.id');
        this.set('partner', id);
      }

      _validateUserCountry(userCountry) {
        if (userCountry) {
          if (!userCountry.longitude || !userCountry.latitude) {
            this.set('country', {
              latitude: '40',
              longitude: '38',
              initial_zoom: 2
            });
            console.warn('The current user country does not provide map coordinates');
          } else {
            this.set('country', userCountry);
          }
        }
      }
    }

    window.customElements.define(ViewMap.is, ViewMap);
  </script>
</dom-module>