<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="../../styles/list-styles.html">
<link rel="import" href="../../styles/page-layout-styles.html">
<link rel="import" href="../../styles/grid-layout-styles.html">
<link rel="import" href="../../styles/buttons-styles.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="../../../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../../../bower_components/paper-tabs/paper-tabs.html">

<link rel="import" href="../../components/data-table/data-table-header.html">
<link rel="import" href="../../components/data-table/data-table-column.html">
<link rel="import" href="../../components/data-table/data-table-row.html">

<link rel="import" href="../../../../bower_components/paper-styles/element-styles/paper-material-styles.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../../bower_components/moment-element/moment-import.html">

<link rel="import" href="../../mixins/common-general-mixin.html">
<link rel="import" href="../../mixins/redux-store-mixin.html">
<link rel="import" href="../../endpoints/endpoints-mixin.html">
<link rel="import" href="../../config/config.html">
<link rel="import" href="../../../../bower_components/etools-loading/etools-loading.html">

<dom-module id="view-personalized">
  <template>
    <custom-style>
      <style include="shared-styles grid-layout-styles list-styles iron-flex iron-flex-factors page-layout-styles paper-material-styles buttons-styles">
        :host {
          width: 100%;
        }

        .greeting {
          padding: 0 24px;
          font-size: 24px;
          color: var(--secondary-text-color);
          margin: 5px 0 30px 0;
        }

        .management-toolbar {
          position: relative;
          min-height: 54px;
          box-sizing: border-box;
          padding: 0 24px 0 0;
        }

        .toolbar-icon-container {
          width: 54px;
          height: 54px;
          color: var(--light-primary-text-color);
          @apply --layout;
          @apply --layout-center-justified;
          @apply --layout-center;
        }

        .trip-management {
          background: rgba(0, 97, 233, 1.0); /* Temporary until design confirmed */
        }

        .partnership-management {
          background: rgba(0, 153, 255, 1.0); /* Temporary until design confirmed */
        }

        .toolbar-icon {
          width: 42px;
          height: 42px;
        }

        .toolbar-item {
          margin-left: 24px;
        }

        .list-title {
          font-weight: 500;
        }

        div.title {
          font-size: 18px;
        }

        .end-justified {
          justify-content: flex-end;
          text-align: right;
        }

        .small-text {
          font-size: 12px;
          color: var(--secondary-text-color)
        }

        .right-padded {
          padding-right: 24px;
        }

        .list-panel paper-button a {
          padding-right: 0;
        }

        div.partnership-buttons paper-button:last-child {
          padding-right: 0;
          margin-right: 0;
        }

        .trips-ap {
          display: flex;
          justify-content: space-between;
          padding: 0 24px;
          height: 64px;
          align-items: center;
          border-bottom: 1px solid var(--dark-divider-color, rgba(0, 0, 0, 0.12));
        }

        data-table-header.double {
          --paper-material-padding: 6.5px 24px;
          height: 56px;
        }

        data-table-header.single {
          --paper-material-padding: 18px 24px;
          height: 56px;
        }
      </style>
    </custom-style>

    <h1 class="greeting">Welcome, [[user.first_name]]!</h1>

    <!--MY PARTNERSHIPS-->
    <div class="paper-material list-panel clear-pad" elevation="1">
      <div no-title no-collapse class="list-title layout horizontal center main trips-ap">
        <div class="flex-2 title">My Partnerships</div>
        <div class="partnership-buttons">
          <paper-button class="button toolbar-item">
            <a on-tap="goToPage" href="[[baseSite]]/pmp/partners/list" app-name="pmp" page="partners">
              <iron-icon icon="social:people"></iron-icon>
              Partners
            </a>
          </paper-button>
          <paper-button class="button toolbar-item">
            <a on-tap="goToPage" href="[[baseSite]]/pmp/agreements" app-name="pmp" page="agreements">
              <iron-icon icon="av:playlist-add-check"></iron-icon>
              Agreements
            </a>
          </paper-button>
          <paper-button class="button toolbar-item">
            <a on-tap="goToPage" href="[[baseSite]]/pmp/interventions" app-name="pmp"
              page="interventions">
              <iron-icon icon="icons:description"></iron-icon>
              PD/SSFA TOR
            </a>
          </paper-button>
          <paper-button class="button toolbar-item">
            <a on-tap="goToPage" href="[[baseSite]]/pmp/government-partners" app-name="pmp"
              page="government-partners">
              <iron-icon icon="icons:account-balance"></iron-icon>
              Government
            </a>
          </paper-button>
        </div>
      </div>
      <template is="dom-if" if="[[!partnershipsLoaded]]">
        <etools-loading active></etools-loading>
      </template>
      <data-table-header class="single">
        <div class="col-data small-text col-2">PD/SSFA Reference No.</div>
        <div class="col-data small-text flex-3">PD/SSFA Title</div>
        <div class="col-data small-text col-2 end-justified">UNICEF Cash Amount</div>
      </data-table-header>
      <div class="list-content">
        <template is="dom-if" if="[[!partnerships.length]]">
          <div class="paper-material">No results to show.</div>
        </template>
        <template is="dom-repeat" items="[[partnerships]]" as="partnership" hidden="[[!partnershipsLoaded]]">
          <data-table-row no-collapse>
            <div slot="row-data">
              <a on-tap="goToPage" href="[[baseSite]]/pmp/interventions/[[partnership.id]]/details" app-name="pmp"
                page="interventions" id="[[partnership.id]]/details"
                class="col-data col-2">
                [[partnership.number]]
              </a>
              <span class="description description-size flex-3 col-data">
                [[partnership.title]]
              </span>
              <span class="col-data col-2 layout horizontal end-justified">
                [[partnership.budget_currency]] [[currencyFormat(partnership.total_unicef_budget)]] (UNICEF Cash)</span>
            </div>
          </data-table-row>
        </template>
      </div>
    </div>
    
    <div class="layout horizontal double">
      <!-- ACTION POINTS -------------------------->
      <div class="paper-material list-panel half-paper clear-pad" elevation="1">
        <div class="list-title layout horizontal main trips-ap" no-title no-collapse>
          <div class="title">Action Points</div>
          <paper-button class="primary-btn with-prefix" on-tap="_goToAddActionPoint">
            <iron-icon icon="add"></iron-icon>
            Add Action Point
          </paper-button>
        </div>
        <div class="top-content-row tabs-header">
          <paper-tabs selected="{{actionsTab}}"
                      attr-for-selected="name"
                      fallback-selection="actionPointsForMe" noink bottom-item>
            <paper-tab name="actionPointsForMe" link>
              <span class="tab-content">Assigned To Me</span>
            </paper-tab>
            <paper-tab name="actionPointsByMe" link>
              <span class="tab-content">Assigned By Me</span>
            </paper-tab>
          </paper-tabs>
        </div>
        <data-table-header class="double">
          <div class="col small-text right-padded col-data col-10">Description<br>Status</div>
          <div class="col-2 small-text col-data">Due Date<br>[[_principal(actionsTab)]]</div>
        </data-table-header>
        <div class="list-content">
          <template is="dom-if" if="[[!tripsItems.length]]">
            <div class="paper-material">No results to show.</div>
          </template>
          <template is="dom-repeat" items="[[actionPointsItems]]" as="action">
            <data-table-row no-collapse>
              <div slot="row-data">
                <div class="layout vertical col-10">
                  <span class="col-data description">
                    <a on-tap="_goToActionPoint" href="[[baseSite]]/t2f/action-point/[[action.id]]">[[action.description]]</a>
                  </span>
                  <span class="suppData">[[capitalizeWord(action.status)]]</span>
                </div>
                <div class="layout vertical start col-data col-2 ">
                  <span class="col-data">[[_dateFormatted(action.due_date)]]</span>
                  <span class="suppData">[[_getDisplayName('actions',action)]]</span>
                </div>
              </div>
            </data-table-row>
          </template>
        </div>
      </div>

      <!-- TRIPS -------------------------->
      <div class="paper-material list-panel half-paper clear-pad" elevation="1">
        <div class="list-title layout horizontal main trips-ap" no-title no-collapse>
          <div class="title">Trips</div>
          <paper-button class="primary-btn with-prefix" on-tap="_goToAddTrip">
            <iron-icon icon="add"></iron-icon>
            Add New Trip
          </paper-button>
        </div>
        <div class="top-content-row tabs-header">
          <paper-tabs selected="{{tripsTab}}"
                      attr-for-selected="name"
                      fallback-selection="myTrips" noink bottom-item>
            <paper-tab name="myTrips" link>
              <span class="tab-content">My Trips</span>
            </paper-tab>
            <paper-tab name="tripsSupervised" link>
              <span class="tab-content">Supervised</span>
            </paper-tab>
          </paper-tabs>
        </div>
        <data-table-header class="double">
          <div class="col small-text right-padded col-data col-2">Reference No.</div>
          <div class="flex-2 small-text right-padded col-data">Purpose of Trip</div>
          <div class="col-2 small-text col-data">Start Date<br>[[_principal(tripsTab)]]</div>
        </data-table-header>
        <div class="list-content">
          <template is="dom-if" if="[[!tripsItems.length]]">
            <div class="paper-material">No results to show.</div>
          </template>
          <template is="dom-repeat" items="[[tripsItems]]" as="trip">
            <data-table-row no-collapse>
              <div slot="row-data">
                <a on-tap="goToPage" href="[[baseSite]]/t2f/edit-travel/[[trip.id]]" app-name="t2f" page="edit-travel"
                  id="[[trip.id]]" class="col-data col col-2">
                  [[trip.reference_number]]
                </a>
                <span class="description description-size col-data flex-2">
                [[trip.purpose]]
              </span>
                <div class="layout vertical start col-data col-2 ">
                  <span class="col-data">[[_dateFormatted(trip.start_date)]]</span>
                  <span class="suppData">[[_getDisplayName('trips',trip)]]</span>
                </div>
              </div>
            </data-table-row>
          </template>
        </div>
      </div>
    </div>
  </template>

  <script>
    /**
     * @polymer
     * @mixinFunction
     * @appliesMixin EtoolsDashboard.Mixins.ReduxStore
     * @appliesMixin EtoolsDashboard.Mixins.CommonGeneral
     * @appliesMixin EtoolsDashboard.Mixins.Endpoints
     */
    const ViewPersonalizedMixins = compose(
      EtoolsDashboard.Mixins.ReduxStore,
      EtoolsDashboard.Mixins.CommonGeneral,
      EtoolsDashboard.Mixins.Endpoints
    )(Polymer.Element);

    /**
     * `personalized` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @appliesMixin ViewPersonalizedMixins
     */
    class ViewPersonalized extends ViewPersonalizedMixins {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'view-personalized';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          tripsItems: {
            type: Array,
            notify: true
          },
          myTrips: {
            type: Array,
            statePath: 'trips'
          },
          tripsSupervised: {
            statePath: 'tripsSupervised'
          },
          actionPointsItems: {
            type: Array,
            notify: true
          },
          actionPointsByMe: {
            type: Array,
            statePath: 'actionPointsByMe'
          },
          actionPointsForMe: {
            type: Array,
            statePath: 'actionPointsForMe'
          },
          partnerships: {
            statePath: 'partnerships',
            observer: '_checkPartnershipsData'
          },
          partnershipsLoaded: {
            type: Boolean,
            value: false
          },
          route: {
            type: Object
          },
          user: {
            type: Object
          }
        };
      }

      static get observers() {
        return [
          '_updateUrl(active)',
          '_updateTrips(tripsTab,myTrips)',
          '_updateActionPoints(actionsTab,actionPointsForMe)',
          '_staticDataLoaded(myTrips,tripsSupervised, actionPointsItems, actionPointsForMe)'
        ];
      }

      /**
       * Instance of the element is created/upgraded. Use: initializing state,
       * set up event listeners, create shadow dom.
       * @constructor
       */
      constructor() {
        super();
      }

      _updateTrips() {
        this._setItems(this.tripsTab, 'tripsItems');
      }

      _updateActionPoints() {
        this._setItems(this.actionsTab, 'actionPointsItems');
      }

      _checkPartnershipsData(data) {
        if ((data && data.length) || !data.length) {
          this.set('partnershipsLoaded', true);
        }
      }

      _staticDataLoaded() {
        if(!this.active) {
          return;
        }
        if (this.myTrips && this.tripsSupervised && this.actionPointsItems && this.actionPointsForMe) {
          this.fire('global-loading');
        } else {
          this.fire('global-loading', {
            message: 'Loading data...',
            active: true
          });
        }
      }

      _principal(tab) {
        switch(tab) {
          case "myTrips":
            return "Trip Supervisor"
            break;
          case "tripsSupervised":
            return "Traveler"
            break;
          case "actionPointsForMe":
            return "Assigned By"
            break;
          case "actionPointsByMe":
            return "Assignee"
            break;
        }
      }

      _setItems(tab, itemsProp) {
        const items = prop(tab, this);
        this.set(itemsProp, items);
      }

      _getDisplayName(type, item) {
        if (type === 'trips') {
          return item.supervisor_name || item.traveler;
        } else {
          if (this.actionsTab === 'actionPointsByMe') {
            return item.person_responsible_name;
          }
          return item.assigned_by_name;
        }
      }

      _dateFormatted(str) {
        return str ? moment(str).format('DD MMM YYYY') : '';
      }

      _updateUrl(active) {
        if (active) {
          this.updateAppState('dashboard/personalized', [], true);
        }
      }

      _goToAddActionPoint() {
        window.location.href = '/apd/action-points/new'
      }

      _goToAddTrip() {
        window.location.href = '/t2f/edit-travel/-1';
      }

      _goToActionPoint(e) {
        var origin = window.location.origin;
        const path = origin + '/t2f/action-point/' + e.model.action.id;
        this.manageClickEvent(e, path);
      }
    }

    window.customElements.define(ViewPersonalized.is, ViewPersonalized);
  </script>
</dom-module>