<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<dom-module id="view-personalized">
  <template>
    <style>
      :host {
        display: block
      }
    </style>

    <h1>Personalized Page</h1>

  </template>

  <script>
    /**
     * `personalized` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class ViewPersonalized extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'view-personalized';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          
        };
      }

      /**
       * Instance of the element is created/upgraded. Use: initializing state,
       * set up event listeners, create shadow dom.
       * @constructor
       */
      constructor() {
        super();
      }

      /**
       * Use for one-time configuration of your component after local DOM is initialized. 
       */
      ready() {
        super.ready();

        Polymer.RenderStatus.afterNextRender(this, function() {
          
        });
      }

    }

    window.customElements.define(ViewPersonalized.is, ViewPersonalized);
  </script>
</dom-module>