<!-- <link rel="import" href="../../../../bower_components/shadycss/apply-shim.html"> -->
<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/polymer/lib/utils/debounce.html">
<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="../../styles/list-styles.html">
<link rel="import" href="../../styles/grid-layout-styles.html">
<link rel="import" href="../../styles/app-theme.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../../../bower_components/paper-styles/element-styles/paper-material-styles.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../../bower_components/iron-meta/iron-meta.html">
<link rel="import" href="../../../../bower_components/etools-dropdown/etools-dropdown.html">
<link rel="import" href="../../../../bower_components/etools-dialog/etools-dialog.html">
<link rel="import" href="../../../../bower_components/etools-dialog/dynamic-dialog-mixin.html">
<link rel="import" href="../../../../bower_components/etools-behaviors/etools-mixin-factory.html">
<link rel="import" href="../../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../../bower_components/app-route/app-route.html">
<link rel="import" href="../../../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../scripts/ramda.html">

<link rel="import" href="hact-detail.html">
<link rel="import" href="hact-charts.html">
<link rel="import" href="hact-general.html">

<link rel="import" href="../../components/data-table/data-table-footer.html">

<link rel="import" href="partners-data.html">
<link rel="import" href="../../mixins/common-general-mixin.html">
<link rel="import" href="../../mixins/pagination-mixin.html">
<link rel="import" href="../../endpoints/endpoints-mixin.html">

<dom-module id="view-hact">
  <template>
    <style include="shared-styles custom-style list-styles grid-layout-styles iron-flex iron-flex-factors iron-flex-alignment paper-material-styles">
      :host {
        display: block;
        --paper-input-container-label: {
          margin-left: 34px;
        }
        ;
        --paper-tooltip-opacity: 1;
        width: 100%;
      }

      #query {
        padding-bottom: 8px;
      }

      .hact-list {
        min-width: 1150px;
      }

      .detail-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
      }

      .paper-material.detail-btn {
        padding-top: 0;
        padding-bottom: 0;
      }

      .search-bar {
        padding-bottom: 8px;
        padding-top: 8px;
        box-sizing: border-box;
      }

      .toggle {
        font-size: 12px;
        cursor: pointer;
        font-weight: 500;
        top: 10px;
        z-index: 1;
      }

      .view-toggle {
        display: flex;
        width: 100%;
        padding-right: 42px;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 12px;
      }

      paper-button.curved-left {
        border-radius: 50px 0 0 50px;
        background: rgb(255, 255, 255);
        height: 36px;
        margin-right: 0;
        padding-right: 1em;
        padding-left: 16px;
        cursor: pointer;
        color: var(--secondary-text-color)
      }

      paper-button.curved-right {
        border-radius: 0 50px 50px 0;
        background: rgb(216, 216, 216);
        height: 36px;
        margin-left: 0;
        padding-left: 1em;
        padding-right: 16px;
        cursor: pointer;
        color: var(--dark-disabled-text-color)
      }

      .dark-button {
        background: rgb(216, 216, 216) !important;
        color: var(--dark-disabled-text-color) !important
      }

      .light-button {
        background: rgb(255, 255, 255) !important;
        color: var(--secondary-text-color) !important
      }

      iron-icon[name="assurance"],
      iron-icon[name="charts"] {
        padding-right: 4px;
      }

      paper-button.detailed-assurance {
        border-radius: 50px;
        background: rgb(255, 255, 255);
        cursor: pointer;
      }
    </style>

    <app-route route="{{route}}"
               pattern="/:hactTab"
               data="{{routeData}}"
               active="{{hactActive}}"
               query-params="{{queryParams}}"></app-route>

    <partners-data id="partners"
                   filtered-partners="{{filteredPartners}}"
                   total-results="{{totalResults}}"
                   totals="{{totals}}"
                   filtered-total-results="{{filteredTotalResults}}"
                   fire-data-loaded
                   show-loading
                   on-partners-loaded="_requiredDataHasBeenLoaded">
    </partners-data>

    <div class="view-toggle">
      <paper-button id="assurancePlan" on-tap="_toggleChartsView" name="assurance" noink class="curved-left">
        <iron-icon id="assuranceIcon" name="assurance" icon="list"></iron-icon>
        ASSURANCE PLAN
      </paper-button>
      <paper-button id="dashboardCharts" on-tap="_toggleChartsView"  name="charts" noink class="curved-right">
        <iron-icon id="chartsIcon" name="charts" icon="av:equalizer"></iron-icon>
        DASHBOARD
      </paper-button>
    </div>

    <iron-pages id="hactPages"
        selected="{{routeData.hactTab}}"
        attr-for-selected="name"
        fallback-selection="assurance">

      <div name="assurance">
        <div class="paper-material list-panel search-bar hact-list" elevation="1">
          <div class="wrap-controls">
            <paper-input id="query" type="search" autocomplete="off" value="[[queryString]]" on-keyup="setQuery"
                    placeholder="Type and search"
                    label="Keywords" always-float-label on-search="setQuery">
              <iron-icon icon="search" prefix></iron-icon>
            </paper-input>
          </div>
        </div>
        
        <div class="paper-material hact-list detail-btn" elevation="1">
          <paper-button on-tap="_detailToggle" class="toggle" noink>
            <a class="detailed-assurance">SHOW DETAILED ASSURANCE</a>
          </paper-button>
        </div>

        <iron-pages id="assurance"
                    selected="[[subName]]"
                    attr-for-selected="sub-name"
                    fallback-selection="hact-general">
          <div sub-name="hact-general">
            <hact-general
                filtered-partners="[[filteredPartners]]"
                totals="[[totals]]"
                total-results="[[totalResults]]"
                filtered-total-results="[[filteredTotalResults]]">
            </hact-general>
          </div>
          <div sub-name="hact-detail">
            <hact-detail
                filtered-partners="[[filteredPartners]]"
                totals="[[totals]]"
                total-results="[[totalResults]]"
                filtered-total-results="[[filteredTotalResults]]">
            </hact-detail>
          </div>
        </iron-pages>

        <data-table-footer page-size="[[pageSize]]" page-number="[[pageNumber]]" visible-range="{{visibleRange}}"
                          filtered-total-results="[[filteredTotalResults]]"
                          on-page-size-changed="pageSizeChanged" on-page-number-changed="pageNumberChanged">
        </data-table-footer>
      </div>

      <div name="charts">
        <hact-charts active="[[_isActive(hactPage,'charts')]]"></hact-charts>
      </div>
    </iron-pages>
  </template>

  <script>
    'use strict';

    const VHMixin = compose(
      EtoolsDashboard.Mixins.Endpoints, 
      EtoolsDashboard.Mixins.CommonGeneral, 
      EtoolsDashboard.Mixins.Pagination);
    
    /**
     * @polymer
     * @mixinFunction
     * @appliesMixin EtoolsDashboard.Mixins.CommonGeneral
     * @appliesMixin EtoolsDashboard.Mixins.Pagination
     * @appliesMixin EtoolsDashboard.Mixins.Endpoints
     */
    const ViewHactMixins = VHMixin(Polymer.Element);

    /**
     * `hact` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @appliesmixin ViewHactMixins
     */
    class ViewHact extends ViewHactMixins {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'view-hact';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          filteredPartners: {
            type: Array,
            notify: true
          },
          csvDownloadUrl: {
            type: String,
            notify: true
          },
          forceDataRefresh: {
            type: Boolean,
            value: false
          },
          requiredDataLoaded: {
            type: Boolean,
            value: false
          },
          initComplete: {
            type: Boolean,
            value: false,
          },
          debounceTime: {
            type: Number,
            value: 50
          },
  
          totals: {
            type: Array,
          },
          displayDetail: {
            type: Boolean,
            value: false
          },
          showDash: {
            type: Boolean,
            value: false
          },
          hactPage: {
            type: String,
            notify: true
          },
          graphsActive: {
            type: Boolean,
            value: false,
          },
          routeData: {
            type: Object,
            notify: true
          },
        };
      }

      static get observers() {
        return [
          '_updateUrl(queryString, pageNumber, pageSize, sortOrder, requiredDataLoaded, initComplete)',
          '_tabChanged(routeData.hactTab, hactActive)',
        ]
      }

      /**
       * Instance of the element is created/upgraded. Use: initializing state,
       * set up event listeners, create shadow dom.
       * @constructor
       */
      // constructor() {
      //   super();
      // }

      /**
       * Use for one-time configuration of your component after local DOM is initialized. 
       */
      ready() {
        super.ready();
      }

      _tabChanged(tab, hactActive) {
        this.set('active', hactActive)
        if (!tab || !hactActive) { return }
        if (tab === 'charts') {
          this.updateAppState(this.route.prefix+this.route.path);
        }
        this.set('hactPage', tab);
        if (this.hactPage === 'charts') {
          this.$.assurancePlan.classList.add('dark-button');
          this.$.assuranceIcon.classList.add('dark-button');
          this.$.dashboardCharts.classList.add('light-button');
          this.$.chartsIcon.classList.add('light-button');
        } else {
          this.$.assurancePlan.classList.remove('dark-button');
          this.$.assuranceIcon.classList.remove('dark-button');
          this.$.dashboardCharts.classList.remove('light-button');
          this.$.chartsIcon.classList.remove('light-button');
        }
      }

   

        _filterPartnersData() {
        Polymer.Debouncer.debounce('query',
          Polymer.Async.timeOut.after(50),
          () => this.$.partners.query(
            this.queryString,
            this.sortOrder,
            this.pageSize,
            this.pageNumber)
        );

      }

        _updateUrl(queryString, pageNumber, pageSize, sortOrder, requiredDataLoaded, initComplete) {
          if (!this.initComplete || !this.hactActive) {
            return;
          }
          this.set('csvDownloadUrl', this._buildCsvDownloadUrl());
          const qs = this.buildQueryString();
          const currentRoute = this.route.prefix+this.route.path;
          if (qs !== null) {
            this.updateAppState(currentRoute, qs, true);
            if (this.requiredDataLoaded) {
              this._filterPartnersData();
            }
          } else {
            if (location.search === '') {
              this.updateAppState(currentRoute, qs, false);
            }
            if (this.forceDataRefresh && this.requiredDataLoaded) {
              this._filterPartnersData();
              this.set('forceDataRefresh', false);
            }
          }
        }

        _buildCsvDownloadUrl() {
          return this.queryString
            ? this.getEndpoint('partners').url + '?' + 'search=' + this.queryString + '&format=csv'
            : this.getEndpoint('partners').url + '?' + '&format=csv';
        }

        _getProp(obj, propStr) {
          if (propStr === 'partner_type') {
            return this._getAbbr(get(obj, propStr));
          }
          return prop(propStr, obj);
        }

        _getAbbr(str) {
          return str.length > 12
            ? str
              .split(' ')
              .map(function(word) {
                return word[0].toUpperCase();
              }).join('') : str;
        }

        _getGovernmentDisplay(partner, prop, toCurrency) {
          const partnerValue = get(partner, prop);
          if (partner.partner_type === 'Government') {
            return '-';
          } else {
            return toCurrency ? this.currencyFormat(partnerValue) : partnerValue;
          }
        }

        _requiredDataHasBeenLoaded(e) {
          e.stopImmediatePropagation();
          let filtered = propOr([], 'filteredPartners', this );
          if (isEmpty(filtered)) {
            this.set('forceDataRefresh', true);
          }
          this.set('requiredDataLoaded', true);
          this.init(this.active);
        }

        _toggleChartsView({target}) {
          const name = target.getAttribute('name');
          let pages = Polymer.dom(this.root).querySelectorAll('iron-pages');
          if (name != this.hactPage) {
            pages[0].selectNext();
          }
        }

        _detailToggle() {
          let pages = Polymer.dom(this.root).querySelectorAll('iron-pages');
          pages[1].selectNext();
          let button = Polymer.dom(this.root).querySelector('.detailed-assurance');
          button.innerText = !this.displayDetail ? 'HIDE DETAILED ASSURANCE' : 'SHOW DETAILED ASSURANCE';
          this.displayDetail = !this.displayDetail;
        }

        _isActive(current, target) {
          return current === target
        }


    }
    
    window.customElements.define(ViewHact.is, ViewHact);
  </script>
</dom-module>