<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="../../styles/list-styles.html">
<link rel="import" href="../../styles/page-layout-styles.html">
<link rel="import" href="../../styles/buttons-styles.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="../../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../../bower_components/paper-styles/element-styles/paper-material-styles.html">
<link rel="import" href="../../../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/paper-item/paper-item.html">
<link rel="import"
      href="../../../../bower_components/etools-searchable-multiselection-menu/etools-multi-selection-menu.html">

<link rel="import" href="../../mixins/dropdown-mixin.html">
<link rel="import" href="../../mixins/common-general-mixin.html">
<link rel="import" href="../../mixins/redux-store-mixin.html">
<link rel="import" href="../../../../bower_components/google-chart/google-chart.html">
<link rel="import" href="../../../../bower_components/google-chart/google-chart-loader.html">
<link rel="import" href="../../../../bower_components/moment-element/moment-import.html">

<!-- <link rel="import" href="dashboard-data/trips-dashboard-data.html"> -->
<!-- <link rel="import" href="dashboard-data/action-pts-by-section-data.html"> -->

<dom-module id="view-trips">
  <template>
      <style include="list-styles iron-flex-factors shared-styles page-layout-styles buttons-styles iron-flex-alignment paper-material-styles">
        
        .by-type {
          padding: 0;
          @apply --layout-horizontal;
        }
  
        .viz {
          width: 100%;
          @apply --tripsChart;
        }
  
        .viz-actions {
          width: 100%;
          @apply --actionPointsChart;
        }
  
        .chart-title {
          font-size: 16px;
          margin: 0;
          line-height: 48px;
          font-weight: 500;
        }
  
        .wrap-controls paper-dropdown-menu.sm-dropdown {
          min-width: 88px;
        }
      </style>

      <!-- <trips-dashboard-data trips-data="{{tripsData}}" filter="[[tripsFilter]]"></trips-dashboard-data> -->
      <!-- <action-pts-by-section-data action-points-data="{{actionPointsData}}"
                                  filter="[[actionPtsFilter]]"></action-pts-by-section-data> -->
      <google-chart-loader id="google"></google-chart-loader>

      <div class="paper-material list-panel listControls" elevation="1">
        <div class="controls-wrapper flex">
          <div class="title-row">
            <h1 sub-title>Trips</h1>
          </div>
          <div class="filters-divider"></div>
          <div class="wrap-controls flex">
            <div class="dropdown-with-clear-btn">
              <paper-icon-button class="clear dark" icon="close" on-tap="clearDropdown"></paper-icon-button>
              <paper-dropdown-menu label="Year"
                                  id="tripsYear"
                                  class="sm-dropdown"
                                  placeholder="Select from list"
                                  error-message="Must select a year"
                                  noink>
                <paper-menu class="dropdown-content" attr-for-selected="id" selected="{{year}}">
                  <template is="dom-repeat" items="[[years]]" as="year">
                    <paper-item id="[[year]]">[[year]]</paper-item>
                  </template>
                </paper-menu>
              </paper-dropdown-menu>
            </div>
            <div class="dropdown-with-clear-btn">
              <paper-icon-button class="clear dark" icon="close" on-tap="clearDropdown"></paper-icon-button>
              <etools-multi-selection-menu label="Month"
                                          id="tripsMonth"
                                          placeholder="Select from list"
                                          error-message="Must select at least one month"
                                          selected-values="{{month}}"
                                          trigger-value-change-event
                                          options="[[months]]"></etools-multi-selection-menu>
            </div>
            <div class="dropdown-with-clear-btn">
              <paper-icon-button class="clear dark" icon="close" on-tap="clearDropdown"></paper-icon-button>
              <paper-dropdown-menu label="Office"
                                  id="tripsOffice"
                                  placeholder="Select from list" noink>
                <paper-menu class="dropdown-content" attr-for-selected="id" selected="{{tripsOffice}}">
                  <template is="dom-repeat" items="[[offices]]" as="office">
                    <paper-item id="[[office.id]]">[[office.name]]</paper-item>
                  </template>
                </paper-menu>
              </paper-dropdown-menu>
            </div>
          </div>
          <paper-button class="primary-btn" on-tap="_setFilter" disabled="[[fetchDisabled]]">
            Get Chart
          </paper-button>
        </div>
      </div>

      <div class="paper-material list-panel by-type" elevation="1">
        <div class="trip title-row flex-2">
          <h2 sub-title>Trips in country programme</h2>
        </div>
        <div class="trips flex-3">
          <div class="trip trip-type-one flex-c">
            <h1>Planned</h1>
            [[tripsData.planned]]
          </div>
          <div class="trip trip-type-two flex-c">
            <h1>Approved</h1>
            [[tripsData.approved]]
          </div>
          <div class="trip trip-type-three flex-c">
            <h1>Completed</h1>
            [[tripsData.completed]]
          </div>
        </div>
      </div>

      <div class="paper-material list-panel" elevation="1">
        <h2 class="chart-title">Trips by section</h2>
        <google-chart
            id="tripsChart"
            class="viz"
            type="bar">
        </google-chart>
      </div>

      <!--ACTION POINTS-->

      <div class="paper-material list-panel listControls" elevation="1">
        <div class="controls-wrapper">
          <div class="title-row">
            <h1 sub-title>Action Points</h1>
          </div>
          <div class="filters-divider"></div>
          <div class="wrap-controls">
            <div class="dropdown-with-clear-btn">
              <!--<paper-icon-button class="clear dark" icon="close" on-tap="clearDropdown"></paper-icon-button>-->
              <!--<paper-dropdown-menu label="Office" placeholder="Select from list" noink>-->
              <!--<paper-menu class="dropdown-content" attr-for-selected="name" selected="{{apOffice}}">-->
              <!--<template is="dom-repeat" items="[[offices]]" as="office">-->
              <!--<paper-item name="[[office.name]]">[[office.name]]</paper-item>-->
              <!--</template>-->
              <!--</paper-menu>-->
              <!--</paper-dropdown-menu>-->
              <paper-icon-button class="clear dark" icon="close" on-tap="clearDropdown"></paper-icon-button>
              <etools-multi-selection-menu label="Office"
                                          id="actionPtsOffice"
                                          placeholder="Select from list"
                                          error-message="Must select at least one office"
                                          selected-values="{{apOffice}}"
                                          option-label="name"
                                          option-value="id"
                                          trigger-value-change-event
                                          on-paper-dropdown-close="_apOfficeChanged"
                                          options="[[offices]]"></etools-multi-selection-menu>
            </div>
          </div>
        </div>
      </div>

      <div class="paper-material list-panel" elevation="1">
        <h2 class="chart-title">Action points by section</h2>
        <google-chart
            id="actionPointsChart"
            class="viz-actions"
            type="bar">
        </google-chart>
      </div>

  </template>

  <script>
    /**
    * @polymer
    * @mixinFunction
    * @appliesMixin EtoolsDashboard.Mixins.ReduxStore
    * @appliesMixin EtoolsDashboard.Mixins.Dropdown
    */
    const ViewTripsMixins = compose(
      EtoolsDashboard.Mixins.ReduxStore,
      EtoolsDashboard.Mixins.Dropdown
    )(Polymer.Element)
    
    /**
     * `view-trips` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @extends ViewTripsMixins
     */
    class ViewTrips extends ViewTripsMixins {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'view-trips';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          tripsData: {
            type: Object,
            observer: '_tripsDataChanged'
          },
          tripsFilter: {
            type: Object,
            notify: true
          },
          offices: {
            type: Array,
            statePath: 'offices'
          },
          tripsOffice: {
            type: String,
            observer: '_monthChanged'
          },
          tripsChart: {
            type: Array,
            notify: true,
            value: []
          },
          actionPointsData: {
            type: Object,
            observer: '_actionPointsDataChanged'
          },
          apOffice: {
            type: String,
            notify: true,
            observer: '_apOfficeChanged'
          },
          actionPtsFilter: {
            type: Object,
            notify: true
          },
          months: {
            type: Array,
          },
          years: {
            type: Array,
            statePath: 'tripsYears'
          },
          year: {
            type: String,
            observer: '_setYear'
          },
          month: {
            type: String,
            notify: true,
            observer: '_monthChanged'
          },
          fetchDisabled: {
            type: Boolean,
            value: false
          },
          staticDataLoaded: {
            type: Boolean,
            value: false
          },
          tripsChartOptions: {
            type: Object,
            value: {
              colors: ['#FCF39F', '#BFE58A', '#64BD00'],
              legend: {position: "none"},
              animation: {
                startup: true,
                duration: 300,
                easing: 'in'
              },
              chartArea: {
                top: '16',
                bottom: '32',
                width: '75%',
              },
              isStacked: true,
              hAxis: {
                minValue: 1,
                gridlineColor: '#E8E8E8',
              },
              vAxis: {
                minValue: 0,
                textStyle: {
                  fontSize: 14,
                  lineHeight: 30
                }
              },
              bar: {groupWidth: '22'},
            }
          },
          actionPointsChart: {
            type: Object,
            notify: true
          },
          actionPointsChartOptions: {
            type: Object,
            value: {
              colors: ['#8AD0FF', '#EEEEEE'],
              chartArea: {
                top: '16',
                bottom: '32',
                width: '75%',
                height: '75%'
              },
              isStacked: 'percent',
              animation: {
                startup: true,
                duration: 300,
                easing: 'in'
              },
              hAxis: {
                minValue: 0,
                gridlineColor: '#E8E8E8',
                format: 'percent',
                ticks: _.range(0.1, 1.1, 0.1)
              },
              vAxis: {
                minValue: 0,
                textStyle: {
                  fontSize: 14,
                  lineHeight: 30
                },
              },
              bar: {groupWidth: '22'},
              legend: {
                position: 'top',
                alignment: 'end'
              }
            }
          },
          noDataOptions: {
            type: Object,
            value: {
              legend: {position: "none"},
              colors: ['transparent'],
              chartArea: {
                width: '50%',
                left: '5%',
                height: '75%',
                top: '16',
              },
              vAxis: {
                baselineColor: 'transparent',
                gridlineColor: 'transparent'
              },
              hAxis: {
                minValue: 1,
                gridlineColor: 'transparent',
                textStyle: {
                  color: 'transparent'
                }
              },
              annotations: {
                alwaysOutside: true,
                textStyle: {
                  color: '#979797',
                  fontSize: 28,
                },
                stem: {
                  color: 'transparent',
                  length: '50%'
                }
              },
              bar: {groupWidth: '22'}
            }
          },
          noDataMessage: {
            type: Array,
            value: [['Bar', 'Time', {role: 'annotation'}],
              ['', 2, 'No chart data'],
            ]
          }
        };
      }

      static get observers() {
        return [
          '_init(active)',
          '_alertStaticDataLoaded(offices,months,years)',
        ]
      }

      _init(active) {
        if (active) {
          if (!this.staticDataLoaded) {
            this.fire('global-loading', {message: 'Loading page data...', active: true});
          }
          this._initTripsChart();
          if (!this.actionPtsFilter) {
            this.set('actionPtsFilter', {});
          }
        }
      }

      _initTripsChart() {
        this.set('year', moment().year());
        this.set('months', moment.months().map(function(month, i) {
          return {
            label: month,
            value: ('0' + (i + 1)).slice(-2),
          };
        }));
        var monthsToDate = _.range(1, moment().month() + 2).map(function(month) {
          return ('0' + (month)).slice(-2)
        });
        this.set('month', monthsToDate);
        this._setFilter();
      }

      _setFilter() {
        this.set('fetchDisabled', true);
        if (!this.year) {
          this._setInvalid('tripsYear');
          return;
        }
        var filter = {year: this.year, office_id: this.tripsOffice};
        if (this.month) {
          var monthObj = {months: this.month.join(',')};
          _.assign(filter, monthObj);
        }
        this.set('tripsFilter', filter);
      }

      _setYear(year) {
        if (year) {
          this._monthChanged();
          this.$.tripsYear.invalid = false;
        } else {
          this._setInvalid('tripsYear');
          this.set('fetchDisabled', true);
        }
      }

      _monthChanged(month) {
        if (this.year) {
          this.set('fetchDisabled', false);
        }
      }

      _alertStaticDataLoaded() {
        var args = _.toArray(arguments);
        var allHaveValues = args.reduce(function(allHaveValues, item) {
          return !_.isEmpty(item) && allHaveValues;
        }, true);
        if (allHaveValues) {
          this.set('staticDataLoaded', true);
          this.fire('global-loading');
        }
      }

      _setInvalid(field) {
        var _this = this;
        this.set('tripsFilter', {});
        this.set('tripsData', {});
        var fields = [
          {
            name: 'year',
            id: 'tripsYear'
          },
          {
            name: 'month',
            id: 'tripsMonth'
          },
          {
            name: 'tripsOffice',
            id: 'tripsOffice'
          }
        ];
        _.remove(fields, {id: field});
        var invalid = fields.reduce(function(isValid, _field) {
          return _this[_field.name] || isValid;
        }, false);
        if (invalid && field !== 'tripsOffice') {
          this.$$('#' + field).invalid = true;
        } else {
          fields.forEach(function(f) {
            _this.$$('#' + f.id).invalid = false;
          });
        }
      }

      _formatChartData(formatted, chartName) {
        var _this = this;
        this.$.google.dataTable(formatted).then(function(dt) {
          //magic ratio number 32.71
          _this.customStyle['--' + chartName] = 'height:' + Math.round(dt.getNumberOfRows() * 32.71) +
              'px; min-height: 300px';
          _this.$$('#' + chartName).options = _this[chartName + 'Options'];
          _this.$$('#' + chartName).data = dt;
          _this.updateStyles();
        });
      }

      _tripsDataChanged(data) {
        if (!_.isEmpty(data)) {
          var travels = _.get(data, 'travels_by_section', []);
          if (!travels.length && this.active) {
            this.fire('global-loading', {active: false});
            this._setNoData('tripsChart');
          } else {
            var formatted = [
              ['Trips', 'Planned', 'Approved', 'Completed']
            ];
            travels.map(function(section) {
              formatted.push([section.section_name,
                section.planned_travels,
                section.approved_travels,
                section.completed_travels])
            });
            this._formatChartData(formatted, 'tripsChart');
          }
        }
      }

      _filterValid() {
        this.$.tripsYear.invalid = this.year ? false : true;
        this.$.tripsMonth.invalid = this.month ? false : true;
        return this.year && this.month;
      }

      _apOfficeChanged() {
        if (this.$.actionPtsOffice.$.dropdownMenu.opened){
          return;
        }
        var filter = {};
        if (this.apOffice && this.apOffice.length) {
          filter.office = this.apOffice
        }
        this.set('actionPtsFilter', filter);
      }
      
      _actionPointsDataChanged(data) {
        if (!_.isEmpty(data)) {
          var actionPoints = _.get(data, 'action_points_by_section', []).filter(function(ap) {
            return _.get(ap, 'total_action_points');
          });
          if (!actionPoints.length && this.active) {
            this._setNoData('actionPointsChart');
          } else {
            var formatted = [['Action Points', 'Closed', 'Total']];
            actionPoints.forEach(function(ap) {
              formatted.push([ap.section_name,
                ap.completed_action_points,
                ap.total_action_points
              ]);
            });
            this._formatChartData(formatted, 'actionPointsChart');
          }
        }
      }

      _setNoData(chartName) {
        var _this = this;
        this.$.google.dataTable(this.noDataMessage).then(function(dt) {
          _this.customStyle['--' + chartName] = 'height: 300px';
          _this.$$('#' + chartName).options = _this.noDataOptions;
          _this.$$('#' + chartName).data = dt;
          _this.updateStyles();
          _this.$$('#' + chartName).redraw();
        });
      }
    }

    window.customElements.define(ViewTrips.is, ViewTrips);
  </script>
</dom-module>