<link rel="import" href="../../../../../bower_components/etools-ajax/etools-ajax-request-mixin.html">
<link rel="import" href="../../../endpoints/endpoints-mixin.html">">
<link rel="import" href="../../../mixins/event-helper-mixin.html">
<link rel="import" href="../../../mixins/ajax-server-errors-mixin.html">
<script>
  window.EtoolsDashboard = window.EtoolsDashboard || {};
  window.EtoolsDashboard.Mixins = window.EtoolsDashboard.Mixins || {};

  const EtoolsMapDataMixin = compose(
    EtoolsDashboard.Mixins.EventHelper,
    EtoolsDashboard.Mixins.Endpoints,
    EtoolsDashboard.Mixins.AjaxServerErrors,
    EtoolsAjaxRequestMixin
  );
  /**
   *
   * @polymerMixin
   * @mixinFunction
   */
  EtoolsDashboard.Mixins.MapInterventionsData = (superclass) =>
    class extends EtoolsMapDataMixin(superclass) {
      static get properties() {
        return {
          reqOptions: {
            type: Object,
            value: {
              endpoint: null,
              csrf: true
            }
          },
          filteredInterventions: {
            type: Array,
            readOnly: true,
            notify: true
          },
          mapFilter: {
            type: Object,
            observer: 'queryMapInterventions',
            notify: true
          },
          locationsDictCreated: {
            type: Boolean,
            value: false
          },
          locationsDict: {
            type: Object,
            readOnly: true,
            notify: true
          }

        };
      }

      ready() {
        super.ready();
      }

      queryMapInterventions(filter) {
        let newEp = this.getEndpoint('mapInterventions');
        if (equals(this.endpoint, newEp)) {
          return;
        }
        this.set('reqOptions.endpoint', newEp);
        this.set('reqOptions.params', filter);
        this._requestMapData();
      }

      _requestMapData() {
        this.fireEvent('global-loading', { active: true, message: 'Loading map locations...' });
        this.sendRequest(this.reqOptions)
          .then((resp) => {
            this._formatInterventions(resp);
          }).catch((err) => {
            this.handleErrorResponse(error);
          });
      }

      _formatInterventions(data) {
        debugger;
        if (!this.locationsDictCreated) {
          this._mapLocationsToInterventions(data);
          this.set('loadedInitially', true);
        }
        const addParsedPoint = (p)=> assoc('point', this.parseMapPoint(p.geo_point), p);
        const hasGeoPoint = (g)=> !isEmpty(prop('geo_point', g));
        let locations = compose(
          map(compose(addParsedPoint, pick(['id', 'geo_point']))),
          filter(hasGeoPoint),
          uniq,
          flatten,
          map(prop('locations'))
        )(data);
        this._setFilteredInterventions(locations);
        this.fireEvent('global-loading', {});
      }

      parseMapPoint(point) {
        if (point) {
          var pt = point.split('(').pop().slice(0, -1).split(' ');
          return {
            latitude: parseFloat(pt[1]),
            longitude: parseFloat(pt[0])
          };
        } else {
          return null;
        }
      }

      _mapLocationsToInterventions(data) {
        const hasLocationsAndGeopoint = (x)=> !isEmpty(prop('locations', x)) && !isEmpty(prop('geo_point', x));
        const addDataToDict = (acc, inter)=> {
          inter.locations.map((location)=>{
            const locationObj = acc[location.id] || {
              interventions: [],
              sections: [],
              name: location.name,
              type: location.location_type
            };
            locationObj.interventions = uniq([
              pick(['partner_name', 'number', 'title'], inter),
              ...locationObj.interventions
            ]);
            locationObj.sections = uniq([...inter.sections, ...locationObj.sections]);
            acc = merge(acc, { [location.id]: locationObj });
          });
          return acc;
        };
        const getInterventionsFromLocations = compose(
          reduce(addDataToDict, {}),
          filter(hasLocationsAndGeopoint)
        );
        const locationsDict = getInterventionsFromLocations(data);
        this._setLocationsDict(locationsDict);
      }
    };

</script>