<link rel="import" href="../../../mixins/data-element-mixin.html">
<link rel="import" href="../../../mixins/event-helper-mixin.html">
<script>
  window.EtoolsDashboard = window.EtoolsDashboard || {};
  window.EtoolsDashboard.Mixins = window.EtoolsDashboard.Mixins || {};

  const EtoolsPartnersDropdownMixin = compose(
    EtoolsDashboard.Mixins.EventHelper,
    EtoolsDashboard.Mixins.DataElement
  );
  /**
   *
   * @polymerMixin
   * @mixinFunction
   */
  EtoolsDashboard.Mixins.PartnersDropdownData = (superclass) =>
    class extends EtoolsPartnersDropdownMixin(superclass) {
      static get properties() {
        return {
          endpointName: {
            type: String,
            value: 'partnersDropdown'
          },
          partners: {
            type: Array,
            notify: true,
            readOnly: true
          },
          loadedInitially: {
            type: Boolean,
            value: false
          }

        };
      }

      ready() {
        super.ready();
        if (!this.loadedInitially) {
          this.fireEvent('global-loading', { message: 'Loading partners data...', active: true });
          this.set('loadedInitially', true);
        }
      }

      _handleMyResponse(data) {
        this._setPartners(data.map((p) => {
          return {
            value: parseInt(p.id),
            label: p.name
          };
        }));
        this.fireEvent('global-loading', { active: false });
      }

    };

</script>