<link rel="import" href="../../../mixins/data-element-mixin.html">
<link rel="import" href="../../../mixins/event-helper-mixin.html">
<script>
  window.EtoolsDashboard = window.EtoolsDashboard || {};
  window.EtoolsDashboard.Mixins = window.EtoolsDashboard.Mixins || {};

  const EtoolsPartnersDropdownMixin = compose(
    EtoolsDashboard.Mixins.EventHelper,
    EtoolsDashboard.Mixins.DataElement
  );
  /**
   *
   * @polymerMixin
   * @mixinFunction
   */
  EtoolsDashboard.Mixins.PartnersDropdownData = (superclass) =>
    class extends EtoolsPartnersDropdownMixin(superclass) {
      static get properties() {
        return {
          endpointName: {
            type: String,
            value: 'partnersDropdown'
          },
          partners: {
            type: Array,
            notify: true,
            readOnly: true
          },
          loadedInitially: {
            type: Boolean,
            value: false
          }

        };
      }

      ready() {
        super.ready();
        if (!this.loadedInitially) {
          this.fireEvent('global-loading', { message: 'Loading partners data...', active: true, loadingSource: 'partners-dropdown' });
          this.set('loadedInitially', true);
        }
      }

      _handleMyResponse(data) {
        const filteredPartners = data.reduce(
          (filtered, partner)=> {
            if(!partner.name) {
              return filtered;
            }
            filtered.push({
              value: parseInt(partner.id),
              label: partner.name
            });
            return filtered;
          }, []
        );
  
        this._setPartners(filteredPartners);
        this.fireEvent('global-loading', { active: false, loadingSource: 'partners-dropdown' });
      }

    };

</script>