<link rel="import" href<link rel="import" href="../../../../../bower_components/etools-ajax/etools-ajax-request-mixin.html">
<link rel="import" href="../../../endpoints/endpoints-mixin.html">">
<link rel="import" href="../../../mixins/event-helper-mixin.html">
<link rel="import" href="../../../mixins/ajax-server-errors-mixin.html">
<link rel="import" href="../../../config/dexie-db-config.html">

<script>
  window.EtoolsDashboard = window.EtoolsDashboard || {};
  window.EtoolsDashboard.Mixins = window.EtoolsDashboard.Mixins || {};

  const EtoolsSectorLocationsMixin = compose(
    EtoolsDashboard.Mixins.EventHelper,
    EtoolsDashboard.Mixins.Endpoints,
    EtoolsDashboard.Mixins.AjaxServerErrors,
    EtoolsAjaxRequestMixin
  );
  /**
   *
   * @polymerMixin
   * @mixinFunction
   */
  EtoolsDashboard.Mixins.EtoolsSectorLocations = (superclass) =>
    class extends EtoolsSectorLocationsMixin(superclass) {
      static get properties() {
        return {
          reqOptions: {
            type: Object,
            value: {
              endpoint: null,
              csrf: true
            }
          },
          sectorLocations: {
            type: Array,
            readOnly: true,
            notify: true
          }
        };
      }

      ready() {
        super.ready();
        this.set('reqOptions.endpoint', this.getEndpoint('sectorLocations'));
        // init dexie table if cache expired
        this._sendFirstRequest();
      }

      _sendFirstRequest() {
        log('fringggg');
        this.fireEvent('global-loading', { active: true, message: 'Loading sector locations...', loadingSource: 'sector-locations' });
        this.sendRequest(this.reqOptions)
          .then((resp) => this._removeLoader()).catch((err) => {
            this.handleErrorResponse(err);
          });
      }

      _removeLoader() {
        this.fireEvent('global-loading', { loadingSource: 'sector-locations' });
      }

      querySectorLocations(query) {
        EtoolsDashboard.DexieDb.transaction('r', EtoolsDashboard.DexieDb.sectorLocations, ()=> {
          let queryResult = EtoolsDashboard.DexieDb.sectorLocations.toCollection();
  
          return queryResult.toArray()
          .then((resp)=>{
            log(resp);
          })
          .catch((err)=>log(err));
        });
      }
    };

</script>