<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../mixins/data-element-mixin.html">
<link rel="import" href="../../../mixins/date-mixin.html">
<link rel="import" href="../../../mixins/event-helper-mixin.html">
<link rel="import" href="../../../config/dexie-db-config.html">


<dom-module id="partnership-data">

  <script>
    const PartnershipDataMixin = compose(
      EtoolsDashboard.Mixins.DataElement,
      EtoolsDashboard.Mixins.Date,
      EtoolsDashboard.Mixins.EventHelper
    )(Polymer.Element);
    /**
     * `partnership-data` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class PartnershipData extends PartnershipDataMixin {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'partnership-data';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          endpointName: {
            type: String,
            value: 'cso_dashboard'
          },
          currentQuery: {
            type: Object,
            value: null
          },
          filteredPartnerships: {
            type: Array,
            readOnly: true,
            notify: true
          },
          totalResults: {
            type: Number,
            readOnly: true,
            notify: true
          },
          dataLoadedEventName: {
            type: String,
            value: 'partnerships-loaded'
          },
          loadedInitially: {
            type: Boolean,
            value: false
          },
          predicates: {
            type: Object,
            value: () => {
              return {
                searchString: (qs, partner)=> qs.length ? _.includes(partner.partner_name.toLowerCase(), qs.toLowerCase()): true,
                sectors: (sectors, partner)=> sectors.length ? !!_.intersection(sectors, [_.trim(partner.sections)]).length : true,
                offices: (offices, partner)=> offices.length ? !!_.intersection(offices, partner.offices_names.split(',')).length : true,
                status: (status, partner)=> status.length ? (_.includes(status, partner.status) ? true : false) : true,
                startAfterDate: (date, partner)=> _.isEmpty(partner.start) ? true
                : !_.isEmpty(date) ? this.prepareDate(partner.start) > this.prepareDate(date): true,
                endBeforeDate: (date, partner)=> _.isEmpty(partner.end) ? true
                  : !_.isEmpty(date) ? this.prepareDate(partner.end) < this.prepareDate(date) : true,
                startBeforeDate: (date, partner)=> _.isEmpty(partner.start) ? true
                  : !_.isEmpty(date) ? this.prepareDate(partner.start) < this.prepareDate(date) : true,
                endAfterDate: (date, partner)=> _.isEmpty(partner.end) ? true
                  : !_.isEmpty(date) ? this.prepareDate(partner.end) > this.prepareDate(date) : true
              };
            }
          },
          presetFilters: {
            type: Array,
            notify: true,
            value: [
              {total: 0, id: '1', title: 'PD/SSFA with passed start date and no FR was added', filteredPartnerships: []},
              {total: 0, id: '2', title: 'PD/SSFA with planned amount not equal to FR amount', filteredPartnerships: []},
              {total: 0, id: '3', title: 'PD with no recent programmatic visit', filteredPartnerships: []},
              {total: 0, id: '4', title: 'PD/SSFA expiring in the next 30 days', filteredPartnerships: []},
              {total: 0, id: '5', title: 'ended PD/SSFA with disbursement amount less than FR planned amount', filteredPartnerships: []},
              {total: 0, id: '6', title: 'ended PD/SSFA with missing Final Partnership Review', filteredPartnerships: []},
              {total: 0, id: '7', title: 'IPs requiring new PCA in the coming CP', filteredPartnerships: []},
              {total: 0, id: '8', title: 'IPs with active PD without a signed PCA', filteredPartnerships: []}
            ]
          }
        };
      }

      ready() {
        super.ready();
        if (!this.loadedInitially) {
          this.fireEvent('global-loading', {message: 'Loading partnerships data...', active: true, loadingSource: 'partnership-data'});
          this.set('loadedInitially', true);
        }
      }

      createPresetFilters(results) {
        return [
          results.clone().filter(
            partner => (partner.status === "signed" || partner.status === "draft") 
              && (Date.parse(partner.start) < new Date().getTime())
              && !partner.frs_total_frs_amt
          ),
          results.clone().filter(
            partner => (partner.status === "active" || partner.status === "ended" || partner.status === "suspended")
              && (partner.unicef_cash === partner.frs_total_frs_amt) 
          ),
          results.clone().filter(
            partner => (partner.status === "active" || partner.status === "ended")
              && (parseInt(partner.days_last_pd) < 180)
          ),
          results.clone().filter(
            partner => (partner.status === "active" || partner.status === "suspended")
              && (Date.parse(partner.end) < (new Date().getTime() + 2592000000))
          ),
          results.clone().filter(
            partner => (partner.status === "ended")
              && (partner.disbursement < partner.frs_total_frs_amt)
          ),
          results.clone().filter(partner => partner.status === "ended"),
          // the following filters will be updated when specs are finalized
          results.clone().filter(partner => true),
          results.clone().filter(partner => true)
        ]
      }

      query(params) {
        const {pageNumber, pageSize, order} = params;
        const predKeys = keys(this.predicates);
        EtoolsDashboard.DexieDb.transaction(
          'r',
          EtoolsDashboard.DexieDb.cso_dashboard,
          () => {
            let queryResult = EtoolsDashboard.DexieDb.cso_dashboard.orderBy('partner_name');
            if (order === 'desc') {
              queryResult = queryResult.reverse();
            }
            let queryResultCopy = queryResult.clone()
            let presetFilteredResults = this.createPresetFilters(queryResultCopy)
            const callPred = (pred, partner) => this.predicates[pred](params[pred], partner);
            queryResult = queryResult.filter(
              partner => predKeys.reduce((acc, pred) => acc && callPred(pred, partner), true)
            );
            return Dexie.Promise.all([
              queryResult.count(),
              queryResult.clone().toArray(),
              ...presetFilteredResults.map(res => res.count()),
              ...presetFilteredResults.map(
                res => res.toArray()
              )
            ]);
          }).then(countAndResult => {
            this._setTotalResults(countAndResult[0]);
            this._setFilteredPartnerships(countAndResult[1]);
            for (let i = 2; i < 10; i++) {
              this.set(`presetFilters.${i-2}.total`, countAndResult[i])
              this.set(`presetFilters.${i-2}.filteredPartnerships`, countAndResult[i+8])
            }
            // log(countAndResult)
            this.fireEvent('global-loading', {loadingSource: 'partnership-data'});
          }).catch(err => console.error('Error querying partnerships-dash: ', err));
      }
    }

    window.customElements.define(PartnershipData.is, PartnershipData);
  </script>
</dom-module>