<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">

<dom-module id="partnership-data">
  <template>
    <style>
      :host {
        display: block
      }
    </style>

    

  </template>

  <script>
    /**
     * `partnership-data` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class PartnershipData extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'partnership-data';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          
        };
      }

      /**
       * Instance of the element is created/upgraded. Use: initializing state,
       * set up event listeners, create shadow dom.
       * @constructor
       */
      constructor() {
        super();
      }

      /**
       * Use for one-time configuration of your component after local DOM is initialized. 
       */
      ready() {
        super.ready();

        Polymer.RenderStatus.afterNextRender(this, function() {
          
        });
      }

    }

    window.customElements.define(PartnershipData.is, PartnershipData);
  </script>
</dom-module>