<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../mixins/data-element-mixin.html">
<link rel="import" href="../../../mixins/date-mixin.html">
<link rel="import" href="../../../mixins/event-helper-mixin.html">
<link rel="import" href="../../../config/dexie-db-config.html">


<dom-module id="partnership-data">
  <template>
    <style>
      :host {
        display: block
      }
    </style>

    

  </template>

  <script>
    const PartnershipDataMixin = compose(
      EtoolsDashboard.Mixins.DataElement,
      EtoolsDashboard.Mixins.Date,
      EtoolsDashboard.Mixins.EventHelper
    )(Polymer.Element);
    /**
     * `partnership-data` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class PartnershipData extends PartnershipDataMixin {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'partnership-data';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          endpointName: {
            type: String,
            value: 'cso_dashboard'
          },
          currentQuery: {
            type: Object,
            value: null
          },
          filteredPartnerships: {
            type: Array,
            readOnly: true,
            notify: true
          },
          totalResults: {
            type: Number,
            readOnly: true,
            notify: true
          },
          dataLoadedEventName: {
            type: String,
            value: 'partnerships-loaded'
          },
          predicates: {
            type: Object,
            value: function() {
              return {
                searchString: (qs, partner)=> qs.length ? _.includes(partner.partner_name.toLowerCase(), qs.toLowerCase()): true,
                sectors: (sectors, partner)=> sectors.length ? !!_.intersection(sectors, [_.trim(partner.sections)]).length : true,
                offices: (offices, partner)=> offices.length ? !!_.intersection(offices, partner.offices_names.split(',')).length : true,
                status: (status, partner)=> status.length ? (_.includes(status, partner.status) ? true : false) : true,
                startAfterDate: (date, partner)=> _.isEmpty(partner.start) ? true
                : !_.isEmpty(date) ? this.prepareDate(partner.start) > this.prepareDate(date): true,
                endBeforeDate: (date, partner)=> _.isEmpty(partner.end) ? true
                  : !_.isEmpty(date) ? this.prepareDate(partner.end) < this.prepareDate(date) : true,
                startBeforeDate: (date, partner)=> _.isEmpty(partner.start) ? true
                  : !_.isEmpty(date) ? this.prepareDate(partner.start) < this.prepareDate(date) : true,
                endAfterDate: (date, partner)=> _.isEmpty(partner.end) ? true
                  : !_.isEmpty(date) ? this.prepareDate(partner.end) > this.prepareDate(date) : true
              };
            }
          },
        };
      }

      /**
       * Instance of the element is created/upgraded. Use: initializing state,
       * set up event listeners, create shadow dom.
       * @constructor
       */
      constructor() {
        super();
      }

      /**
       * Use for one-time configuration of your component after local DOM is initialized. 
       */
      ready() {
        super.ready();
      }

      query(params) {
        const {pageNumber, pageSize, order} = params;
        const predKeys = keys(this.predicates);
        EtoolsDashboard.DexieDb.transaction(
          'r', 
          EtoolsDashboard.DexieDb.cso_dashboard,
          ()=> {
            let queryResult = EtoolsDashboard.DexieDb.cso_dashboard.orderBy('partner_name');
            if (order === 'desc'){
              queryResult = queryResult.reverse();
            }
            const callPred = (pred, partner)=> this.predicates[pred](params[pred], partner);
            queryResult = queryResult.filter(
              partner => predKeys.reduce((acc, pred)=> acc && callPred(pred, partner), true)
            );
            return Dexie.Promise.all([
              queryResult.count(),
              queryResult.clone()
              .offset((pageNumber - 1) * pageSize)
                .limit(pageSize)
                .toArray()]);
          }).then(countAndResult=>{
            this._setTotalResults(countAndResult[0]);
            this._setFilteredPartnerships(countAndResult[1]);
            this.fireEvent('global-loading', {loadingSource: 'partner-data'});
          }).catch(err=>console.error('Error querying partnerships-dash: ', err))
      }

    }

    window.customElements.define(PartnershipData.is, PartnershipData);
  </script>
</dom-module>