<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="elements/cso-dashboard.html">
<link rel="import" href="elements/partnerships-overview.html">

<link rel="import" href="data/partnership-data.html">
<link rel="import" href="data/partnership-dashboard-data.html">

<dom-module id="view-partnerships">
  <template>
    <style include="shared-styles grid-layout-styles iron-flex page-layout-styles 
        paper-material-styles list-styles filter-styles">
      .no-header-line {
        --header-bottom-line: none;
      }
  
      .by-type {
        padding: 0;
        @apply --layout-horizontal;
      }
  
      span.title {
        color: var(--accent-color);
        font-weight: 500;
      }
    
      data-table-row span:not(:first-child),
      data-table-header data-table-column:not(:first-child) data-table-header data-table-column data-table-column,
      data-table-header div data-table-column data-table-column {
        box-sizing: border-box;
      }
  
      data-table-row div[slot="row-data"] div span,
      data-table-header div data-table-column data-table-column {
        padding-right: 8px;
      }
  
      data-table-row div[slot="row-data"] div:not(:first-child) span,
      data-table-header div data-table-column data-table-column {
        justify-content: flex-end;
      }
  
      data-table-row div[slot="row-data"] div span {
        display: flex;
      }

      data-table-header {
        height: 95px;
      }

      #query {
        padding-left: 24px;
      }
  
      .right-align {
        text-align: right;
      }
  
      div.sections,
      span.sections {
        height: 48px;
        white-space: normal;
        overflow-y: auto;
        display: flex;
        align-items: center;
        -ms-overflow-style: -ms-autohiding-scrollbar;
      }

      div.sections span.pad-top-4 {
        padding-right: 0;
      }

       paper-icon-item {
        --paper-item-icon-width: 32px;
      }

      paper-menu-button {
        padding: 0;
      }
  
      div.sections>span {
        vertical-align: middle;
        line-height: normal
      }
  
      div div span {
        align-items: center;
      }
  
      .justify-end {
        justify-content: flex-end;
      }
  
      .to-date {
        background-image: -webkit-linear-gradient(135deg, rgb(222, 242, 254) 50%, rgb(237, 247, 223) 50%);
        height: 48px;
        max-width: 48px;
      }
  
      data-table-row div div span.ip-pd {
        display: block;
        padding-top: 4px;
        padding-right: 8px;
      }
  
      .right-nudge {
        padding-right: 8px;
        box-sizing: border-box;
      }
  
      .no-padding {
        padding: 0;
      }

      div.display-flex {
        display: flex;
      }

      data-table-row.alert-row,
      .alert-row div[slot="row-data"],
      .alert-row div[slot="row-data"] data-table-column {
        height: 36px;
        width: 100%;
      }

      .list-panel a {
        padding-right: 0;
      }

      .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .cso-title {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 8px;
      }

      .partner-icons-group {
        display: inline-flex;
      }

      .view-toggle {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 12px;
      }

      .curved-left {
        border-radius: 50px 0 0 50px;
        background: rgb(255, 255, 255);
        height: 36px;
        margin-right: 0;
        padding-right: 1em;
        padding-left: 16px;
        cursor: pointer;
      }

      .curved-right {
        border-radius: 0 50px 50px 0;
        background: rgb(216, 216, 216);
        height: 36px;
        margin-left: 0;
        padding-left: 1em;
        padding-right: 16px;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.54);
      }

      .dark-button {
        background: rgb(216, 216, 216);
        color: rgba(0, 0, 0, 0.54);
      }

      .light-button {
        background: rgb(255, 255, 255);
        color: rgba(0, 0, 0, 0.87);
      }

      iron-icon[name="overview"],
      iron-icon[name="csoDash"] {
        padding-right: 4px;
      }

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        data-table-header {
          height: 110px;
          padding-bottom: 0;
        }

        div.paper-material.listControls {
          height: 48px;
        }
      }

    </style>
    <app-route route="{{route}}"
               pattern="/dash/partnerships/:partnershipsTab"
               data="{{routeData}}"
               active="{{active}}"
               query-params="{{queryParams}}"></app-route>

    <div class="view-toggle">
      <paper-button id="overview" on-tap="_toggleDashView" name="csoOverview" noink class="curved-left">
        <iron-icon id="overviewIcon" name="overview" icon="reorder"></iron-icon>
        OVERVIEW
      </paper-button>
      <paper-button id="csoDash" on-tap="_toggleDashView"  name="csoDash" noink class="curved-right">
        <iron-icon id="csoIcon" name="csoDash" icon="list"></iron-icon>
        CSO DASHBOARD
      </paper-button>
    </div>

    <iron-pages id="partnershipsPages"
        selected="{{routeData.partnershipsTab}}"
        attr-for-selected="name"
        fallback-selection="overview">

      <div name="overview">
        <partnerships-overview filtered-partnerships="{{filteredPartnerships}}"
                               active="[[overviewActive]]"
                               total-results="{{totalResults}}"
                               list-data-path="filteredPartnerships"
                               query-params="{{queryParams}}"
                               route="{{route}}"
        ></partnerships-overview>
      </div>

      <div name="cso">
        <cso-dashboard active="[[csoActive]]"
                       total-results="{{totalResults}}"
                       list-data-path="filteredPartnershipsDashboard"
                       query-params="{{queryParams}}"
                       route="{{route}}"
        ></cso-dashboard>
      </div>
    </iron-pages>
  </template>

  <script>
    'use strict';

    /**
     * @polymer
     * @mixinFunction
     * @appliesMixin EtoolsDashboard.Mixins.CommonGeneral
     * @appliesMixin EtoolsDashboard.Mixins.ReduxStore
     * @appliesMixin EtoolsDashboard.Mixins.ListFilters
     * @appliesMixin EtoolsDashboard.Mixins.PaginationWithFilters
     * @appliesMixin EtoolsDashboard.Mixins.Date
     */
    const ViewPartnershipsMixins = compose(
      EtoolsDashboard.Mixins.CommonGeneral,
      EtoolsDashboard.Mixins.ReduxStore,
      EtoolsDashboard.Mixins.ListFilters,
      EtoolsDashboard.Mixins.Endpoints,
      EtoolsDashboard.Mixins.PaginationWithFilters,
      EtoolsDashboard.Mixins.Date
      )(Polymer.Element);
    
    /**
     * `view-partnerships` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     */
    class ViewPartnerships extends ViewPartnershipsMixins {
      static get is() { return 'view-partnerships'; }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
        //   filteredPartnerships: {
        //     type: Array,
        //     notify: true,
        //     observer: 'rangeChanged'
        //   },
        //   filteredPartnershipsDashboard: {
        //     type: Array,
        //     notify: true,
        //     observer: 'rangeChanged'
        //   },
        //   currentFilter: {
        //     type: String,
        //     value: 'custom'
        //   },
        //   forceDataRefresh: {
        //     type: Boolean,
        //     value: false
        //   },
        //   requiredDataLoaded: {
        //     type: Boolean,
        //     value: false
        //   },
        //   initComplete: {
        //     type: Boolean,
        //     value: false
        //   },
        //   csvDownloadUrl: {
        //     type: String,
        //     notify: true
        //   },
        //   urlParams: {
        //     type: Object
        //   },
        //   sectors: {
        //     type: Array,
        //     statePath: 'sectors'
        //   },
        //   statuses: {
        //     type: Array,
        //     statePath: 'static.intervention_status'
        //   },
        //   offices: {
        //     type: Array,
        //     statePath: 'offices'
        //   },
        //   selectedSectors: {
        //     type: Array,
        //     observer: 'filterChanged'
        //   },
        //   selectedOffices: {
        //     type: Array,
        //     observer: 'filterChanged'
        //   },
        //   selectedStatuses: {
        //     type: Array,
        //     observer: 'filterChanged'
        //   },
        //   startAfterDate: {
        //     type: String,
        //     observer: 'dateChanged'
        //   },
        //   startBeforeDate: {
        //     type: String,
        //     observer: 'dateChanged'
        //   },
        //   endBeforeDate: {
        //     type: String,
        //     observer: 'dateChanged'
        //   },
        //   endAfterDate: {
        //     type: String,
        //     observer: 'dateChanged'
        //   },
        //   visibleRange: {
        //     type: Array,
        //     observer: 'rangeChanged'
        //   },
        //   pageNumber: {
        //     type: Number
        //   },
        //   route: {
        //     type: Object
        //   },
        //   params: {
        //     type: Array,
        //     value: function() {
        //       return [
        //         {
        //           qName: 'qs',
        //           propName: 'qs',
        //           xf: identity
        //         },
        //         {
        //           qName: 'sort',
        //           propName: 'sortOrder',
        //           xf: identity
        //         },
        //         {
        //           qName: 'sectors',
        //           propName: 'selectedSectors',
        //           xf: compose(join('|'), map(prop('value')))
        //         },
        //         {
        //           qName: 'offices',
        //           propName: 'selectedOffices',
        //           xf: compose(join('|'), map(prop('id')))
        //         },
        //         {
        //           qName: 'status',
        //           propName: 'selectedStatuses',
        //           xf: compose(join('|'), map(prop('value')))
        //         },
        //         {
        //           qName: 'startAfter',
        //           propName: 'startAfterDate',
        //           xf: (xs) => this.prettyDate(xs, 'YYYY-MM-DD')
        //         },
        //         {
        //           qName: 'endBefore',
        //           propName: 'endBeforeDate',
        //           xf: (xs) => this.prettyDate(xs, 'YYYY-MM-DD')
        //         },
        //         {
        //           qName: 'startBefore',
        //           propName: 'startBeforeDate',
        //           xf: (xs) => this.prettyDate(xs, 'YYYY-MM-DD')
        //         },
        //         {
        //           qName: 'endAfter',
        //           propName: 'endAfterDate',
        //           xf: (xs) => this.prettyDate(xs, 'YYYY-MM-DD')
        //         }
        //       ];
        //     }
        //   }
        };
      }

      static get observers() {
        return [
          '_updateUrl(qs, pageNumber, pageSize, sortOrder, requiredDataLoaded, initComplete, selectedSectors, selectedOffices, selectedStatuses, startAfterDate, endBeforeDate, startBeforeDate, endAfterDate)',
          '_tabChanged(routeData.partnershipsTab, active)'
        ];
      }

      _tabChanged(tab, active) {
        this.set('active', active);
        if (!tab || !active) { return; }
        if (tab === 'overview') {
          this.set('overviewActive', active)
          this.$.overview.classList.add('dark-button');
          this.$.csoDash.classList.add('light-button');
        } else {
          this.set('csoActive', active)
          this.updateAppState(this.route.path);
          this.$.overview.classList.remove('dark-button');
          this.$.csoDash.classList.remove('light-button');
        }
      }

      rangeChanged() {
        if (this.currentFilter !== 'custom') {
          this.$.csoListTemplate.items = this.presetFilters[this.currentFilter-1].filteredPartnerships.slice(
              this.visibleRange[0]-1,
              this.visibleRange[1]
            );
        } else if (this.filteredPartnerships) {
          this.$.csoListTemplate.items = this.filteredPartnerships.slice(
              this.visibleRange[0]-1,
              this.visibleRange[1]
            );
        }
      }

      _updateUrl(query, pageNumber, pageSize, sortOrder, requiredDataLoaded,
        initComplete, selectedSectors, selectedOffices, selectedStatuses, startAfterDate, endBeforeDate, startBeforeDate, endAfterDate) {
          if (!this.initComplete || !this.requiredDataLoaded) {
          return;
        }
        this.set('csvDownloadUrl', this._buildCsvDownloadUrl());
        const qs = this.buildQueryString();
        const currentRoute = this.route.prefix + this.route.path;
        // log(selectedSectors, selectedOffices, selectedStatuses);
        // debugger;
        if (qs !== null) {
          this.updateAppState(currentRoute, qs, true);
          if (this.requiredDataLoaded) {
            this._filterPartnershipsData();
          }
        } else {
          if (location.search === '') {
            this.updateAppState(currentRoute, qs, false);
          }
          if (this.forceDataRefresh && this.requiredDataLoaded) {
            this._filterPartnershipsData();
            this.set('forceDataRefresh', false);
          }
        }
      }

      _buildCsvDownloadUrl() {
        let query;
        if (this.currentFilter === 'custom') {
          query = this.params.reduce((acc, { qName, propName, xf }) => {
            return isEmpty(this[propName]) ? acc
              : `${acc}${qName}=${xf(this[propName])}&`;
          }, '');
          query = query.split('|').join(',');
        } else {
          let pks = this.presetFilters[this.currentFilter-1].filteredPartnerships.map(
            (partner) => prop('intervention_id', partner)
          );
          pks.join(',');
          query = `pk=${pks}&`;
        }
        return `${this.getEndpoint('cso_dashboard').url}/?${query}format=csv`;
      }

      _toggleDashView({ target }) {
        let pages = this.$.partnershipsPages;
        pages.selectNext();
      }
    }

    window.customElements.define(ViewPartnerships.is, ViewPartnerships);
  </script>
</dom-module>