<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="elements/cso-dashboard.html">
<link rel="import" href="elements/partnerships-overview.html">

<link rel="import" href="data/partnership-data.html">
<link rel="import" href="data/partnership-dashboard-data.html">

<dom-module id="view-partnerships">
  <template>
    <style include="paper-material-styles">
      .view-toggle {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 12px;
      }

      .curved-left {
        border-radius: 50px 0 0 50px;
        background: rgb(255, 255, 255);
        height: 36px;
        margin-right: 0;
        padding-right: 1em;
        padding-left: 16px;
        cursor: pointer;
      }

      .curved-right {
        border-radius: 0 50px 50px 0;
        background: rgb(216, 216, 216);
        height: 36px;
        margin-left: 0;
        padding-left: 1em;
        padding-right: 16px;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.54);
      }

      .dark-button {
        background: rgb(216, 216, 216);
        color: rgba(0, 0, 0, 0.54);
      }

      .light-button {
        background: rgb(255, 255, 255);
        color: rgba(0, 0, 0, 0.87);
      }

      iron-icon[name="overview"],
      iron-icon[name="csoDash"] {
        padding-right: 4px;
      }
    </style>

    <app-route route="{{route}}"
               pattern="/dash/partnerships/:partnershipsTab"
               data="{{routeData}}"
               active="{{active}}"
               query-params="{{queryParams}}"></app-route>

    <div class="view-toggle">
      <paper-button id="overview" on-tap="_toggleDashView" name="csoOverview" noink class="curved-left">
        <iron-icon id="overviewIcon" name="overview" icon="reorder"></iron-icon>
        OVERVIEW
      </paper-button>
      <paper-button id="csoDash" on-tap="_toggleDashView"  name="csoDash" noink class="curved-right">
        <iron-icon id="csoIcon" name="csoDash" icon="list"></iron-icon>
        CSO DASHBOARD
      </paper-button>
    </div>

    <iron-pages id="partnershipsPages"
        selected="{{routeData.partnershipsTab}}"
        attr-for-selected="name"
        fallback-selection="overview">

      <div name="overview">
        <partnerships-overview filtered-partnerships="{{filteredPartnerships}}"
                               active="[[overviewActive]]"
                               total-results="{{totalResults}}"
                               list-data-path="filteredPartnerships"
                               query-params="{{queryParams}}"
                               route="{{route}}"
                               csv-download-url="{{csvDownloadUrl}}"
        ></partnerships-overview>
      </div>

      <div name="cso">
        <cso-dashboard active="[[csoActive]]"
                       total-results="{{totalResults}}"
                       list-data-path="filteredPartnershipsDashboard"
                       query-params="{{queryParams}}"
                       route="{{route}}"
                       csv-download-url="{{csvDownloadUrl}}"
        ></cso-dashboard>
      </div>
    </iron-pages>
  </template>

  <script>
    'use strict';

    /**
     * @polymer
     * @mixinFunction
     * @appliesMixin EtoolsDashboard.Mixins.CommonGeneral
     * @appliesMixin EtoolsDashboard.Mixins.ReduxStore
     * @appliesMixin EtoolsDashboard.Mixins.ListFilters
     * @appliesMixin EtoolsDashboard.Mixins.PaginationWithFilters
     * @appliesMixin EtoolsDashboard.Mixins.Date
     */
    const ViewPartnershipsMixins = compose(
      EtoolsDashboard.Mixins.CommonGeneral,
      // EtoolsDashboard.Mixins.ReduxStore,
      // EtoolsDashboard.Mixins.ListFilters,
      // EtoolsDashboard.Mixins.Endpoints,
      // EtoolsDashboard.Mixins.PaginationWithFilters,
      // EtoolsDashboard.Mixins.Date
      )(Polymer.Element);
    
    /**
     * `view-partnerships` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     */
    class ViewPartnerships extends ViewPartnershipsMixins {
      static get is() { return 'view-partnerships'; }

      static get properties() {
        return {
          csvDownloadUrl: {
            type: String,
            notify: true
          }
        }
      }

      static get observers() {
        return [
          // '_updateUrl(qs, pageNumber, pageSize, sortOrder, requiredDataLoaded, initComplete, selectedSectors, selectedOffices, selectedStatuses, startAfterDate, endBeforeDate, startBeforeDate, endAfterDate)',
          '_tabChanged(routeData.partnershipsTab, active)'
        ];
      }

      _tabChanged(tab, active) {
        this.set('active', active);
        if (!tab || !active) { return; }
        if (tab === 'overview') {
          this.set('overviewActive', active)
          this.$.overview.classList.add('dark-button');
          this.$.csoDash.classList.add('light-button');
        } else {
          this.set('csoActive', active)
          this.updateAppState(this.route.path);
          this.$.overview.classList.remove('dark-button');
          this.$.csoDash.classList.remove('light-button');
        }
      }

      // _updateUrl(query, pageNumber, pageSize, sortOrder, requiredDataLoaded,
      //   initComplete, selectedSectors, selectedOffices, selectedStatuses, startAfterDate, endBeforeDate, startBeforeDate, endAfterDate) {
      //     if (!this.initComplete || !this.requiredDataLoaded) {
      //     return;
      //   }
      //   this.set('csvDownloadUrl', this._buildCsvDownloadUrl());
      //   const qs = this.buildQueryString();
      //   const currentRoute = this.route.prefix + this.route.path;
      //   // log(selectedSectors, selectedOffices, selectedStatuses);
      //   // debugger;
      //   if (qs !== null) {
      //     this.updateAppState(currentRoute, qs, true);
      //     if (this.requiredDataLoaded) {
      //       this._filterPartnershipsData();
      //     }
      //   } else {
      //     if (location.search === '') {
      //       this.updateAppState(currentRoute, qs, false);
      //     }
      //     if (this.forceDataRefresh && this.requiredDataLoaded) {
      //       this._filterPartnershipsData();
      //       this.set('forceDataRefresh', false);
      //     }
      //   }
      // }

      // _buildCsvDownloadUrl() {
      //   let query;
      //   if (this.currentFilter === 'custom') {
      //     query = this.params.reduce((acc, { qName, propName, xf }) => {
      //       return isEmpty(this[propName]) ? acc
      //         : `${acc}${qName}=${xf(this[propName])}&`;
      //     }, '');
      //     query = query.split('|').join(',');
      //   } else {
      //     let pks = this.presetFilters[this.currentFilter-1].filteredPartnerships.map(
      //       (partner) => prop('intervention_id', partner)
      //     );
      //     pks.join(',');
      //     query = `pk=${pks}&`;
      //   }
      //   return `${this.getEndpoint('cso_dashboard').url}/?${query}format=csv`;
      // }

      _toggleDashView({ target }) {
        let pages = this.$.partnershipsPages;
        pages.selectNext();
      }
    }

    window.customElements.define(ViewPartnerships.is, ViewPartnerships);
  </script>
</dom-module>