<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../bower_components/etools-ajax/etools-ajax-request-mixin.html">
<link rel="import" href="../../../endpoints/endpoints-mixin.html">
<link rel="import" href="../../../mixins/event-helper-mixin.html">
<link rel="import" href="../../../../../bower_components/polymer/lib/utils/async.html">

<dom-module id="trips-dashboard-data">
  <script>
    'use strict';
    
    /**
    * @polymer
    * @mixinFunction
    * @appliesMixin EtoolsDashboard.Mixins.EventHelper
    * @appliesMixin EtoolsDashboard.Mixins.Endpoints
    * @appliesMixin EtoolsAjaxRequestMixin
    */
    const TripsDashboardDataMixin = compose(
      EtoolsDashboard.Mixins.EventHelper,
      EtoolsAjaxRequestMixin,
      EtoolsDashboard.Mixins.Endpoints
    )(Polymer.Element);

    /**
     * @polymer
     * @customElement
     * @appliesmixin TripsDashboardDataMixin
     */
    class TripsDashboardData extends TripsDashboardDataMixin {
      static get is() { return 'trips-dashboard-data'; }

      static get properties() {
        return {
          reqOptions: {
            type: Object,
            value: {
              endpoint: null,
              csrf: null
            }
          },
          tripsData: {
            type: Object,
            readOnly: true,
            notify: true
          },
          filter: {
            type: Object,
            observer: '_filterChanged'
          }
        };
      }

      _filterChanged(filter) {
        if (!isEmpty(filter)) {
          var endpointParams = keys(filter).filter((key) => {
            return filter[key];
          }).
          map((k) => {
            return k + '=' + filter[k];
          }).
          join('&');
          var endpoint = this.getEndpoint('tripsDashboard');
          endpoint.url += endpointParams;
          if (!equals(endpoint, this.endpoint)) {
            this.fireEvent('global-loading', { message: 'Loading trips chart data...', loadingSource: 'trips-dashboard-data', active: true });
            this.set('reqOptions.endpoint', endpoint);
          }
        } else {
          this.reqOptions.endpoint.url = null;
        }
        this.sendRequest(this.reqOptions).then((response) => this._handleResponse(response));
      }

      _handleResponse(response) {
        this._setTripsData(response);
        this.fireEvent('global-loading', { loadingSource: 'trips-dashboard-data' });
      }
    }

    window.customElements.define(TripsDashboardData.is, TripsDashboardData);
  </script>
</dom-module>