<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../styles/shared-styles.html">
<link rel="import" href="../../styles/list-styles.html">
<link rel="import" href="../../styles/grid-layout-styles.html">
<link rel="import" href="../../../../bower_components/paper-styles/element-styles/paper-material-styles.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../components/data-table/data-table-column.html">
<link rel="import" href="../../components/data-table/data-table-header.html">
<link rel="import" href="../../components/data-table/data-table-row.html">
<link rel="import" href="../../components/data-table/data-table-footer.html">

<link rel="import" href="../../config/config.html">

<link rel="import" href="../../mixins/list-filters-mixin.html">
<link rel="import" href="../../mixins/dropdown-mixin.html">
<link rel="import" href="../../mixins/date-mixin.html">
<link rel="import" href="../../mixins/common-general-mixin.html">
<link rel="import" href="../../mixins/pagination-with-filters-mixin.html">
<link rel="import" href="../../mixins/redux-store-mixin.html">


<link rel="import"
      href="../../../../bower_components/etools-searchable-multiselection-menu/etools-multi-selection-menu.html">
<link rel="import" href="../../../../bower_components/etools-datepicker/etools-datepicker-button.html">
<link rel="import" href="../../../../bower_components/paper-tooltip/paper-tooltip.html">

<!-- <link rel="import" href="dashboard-data/attachments-data.html"> -->

<dom-module id="view-attachments">
  <template>
    <style include="shared-styles list-styles grid-layout-styles iron-flex-factors paper-material-styles">
      .wrap-controls paper-input {
        min-width: 280px;
      }

      .custom-width {
        width: 176px;
      }
    </style>
    <attachments-data
        id="attachments"
        active="[[active]]"
        filtered-total="{{filteredTotal}}"
        filtered-attachments="{{filteredAttachments}}"
        fire-data-loaded
        on-attachments-loaded="_attachmentsLoaded"
    ></attachments-data>

    <div class="paper-material list-panel listControls" elevation="1">
      <div class="wrap-controls">
        <paper-input type="search" autocomplete="off" value="{{qs}}"
                     placeholder="Search by Partner or Vendor #"
                     always-float-label>
          <iron-icon icon="search" prefix></iron-icon>
        </paper-input>
        <template is="dom-repeat" items="[[selectedFilters]]" as="filter">
          <!-- dropdown filters  -->
          <template is="dom-if" if="[[filterTypeIs('esmm', filter.type)]]">
            <div class="filter esmm">
              <etools-multi-selection-menu
                  label="[[filter.filterName]]"
                  placeholder="&#8212;"
                  disabled$="[[!filter.selectionOptions.length]]"
                  options="[[filter.selectionOptions]]"
                  option-value="[[filter.optionValue]]"
                  option-label="[[filter.optionLabel]]"
                  selected-values="[[filter.alreadySelected]]"
                  trigger-value-change-event
                  on-etools-selected-items-changed="esmmValueChanged"
                  data-filter-path$="[[filter.path]]">
              </etools-multi-selection-menu>
              <paper-icon-button
                  suffix class="remove-field remove" icon="cancel"
                  on-tap="removeFilter"
                  data-filter-name$="[[filter.filterName]]"
                  data-reset-path$="[[filter.path]]">
              </paper-icon-button>
            </div>
          </template>
        </template>
      </div>
      <div class="fixed-controls">
        <div class="filters-divider"></div>
        <paper-menu-button id="filterMenu" dynamic-align>
          <paper-button class="button dropdown-trigger">
            <iron-icon icon="filter-list"></iron-icon>
            add filter
          </paper-button>
          <paper-listbox class="dropdown-content">
            <template is="dom-repeat" items="[[availableListFilterOptions]]">
              <paper-item on-tap="selectFilter">[[item.filterName]]</paper-item>
            </template>
          </paper-listbox>
        </paper-menu-button>
      </div>
    </div>

    <div id="list" class="paper-material" elevation="1">
      <data-table-header no-collapse>
        <data-table-column class="col-2 col" field="partner" sortable>
          Partner
        </data-table-column>
        <data-table-column class="col-1 col">
          Vendor #
        </data-table-column>
        <data-table-column class="custom-width col" field="partner_type" sortable>
          Partner Type
        </data-table-column>
        <data-table-column class="custom-width col" field="source">
          Source
        </data-table-column>
        <data-table-column class="custom-width col" sortable field="file_type">
          Document Type
        </data-table-column>
        <data-table-column class="col-3 col">
          File Download
        </data-table-column>
        <data-table-column class="col-1 col" sortable field="created">
          Date Uploaded
        </data-table-column>
      </data-table-header>

      <template is="dom-repeat" items="[[filteredAttachments]]">
        <data-table-row no-collapse>
          <div slot="row-data">
            <div class="col col-2">
              <span class="col-data">
                [[item.partner]]
                <paper-tooltip fit-to-visible-bounds>[[item.partner]]</paper-tooltip>
              </span>
            </div>
            <div class="col col-1">
              <span class="col-data">[[item.vendor_number]]</span>
            </div>
            <div class="col custom-width">
              <span class="col-data">[[item.partner_type]]</span>
            </div>
            <div class="col custom-width">
              <span class="col-data">Partnership Management</span>
            </div>
            <div class="col custom-width">
              <span class="col-data">
                [[item.file_type]]
                <paper-tooltip fit-to-visible-bounds>[[item.file_type]]</paper-tooltip>
              </span>
            </div>
            <div class="col-3 col">
              <a href$="[[_getDownloadUrl(item.file_link)]]"
                 target="_blank"
                 class="col-data">[[item.filename]]</a>
            </div>
            <div class="col-1 col">
              <span class="col-data">[[item.created]]</span>
            </div>
          </div>
        </data-table-row>
      </template>
      <data-table-footer
          page-size="[[pageSize]]"
          page-number="[[pageNumber]]"
          visible-range="{{visibleRange}}"
          on-page-size-changed="pageSizeChanged"
          filtered-total-results="[[filteredTotal]]"
          on-page-number-changed="pageNumberChanged">
      </data-table-footer>
    </div>
  </template>

  <script>
    'use strict';

    /**
    * @polymer
    * @mixinFunction
    * @appliesMixin EtoolsDashboard.Mixins.CommonGeneral
    * @appliesMixin EtoolsDashboard.Mixins.Dropdown
    * @appliesMixin EtoolsDashboard.Mixins.ReduxStore
    * @appliesMixin EtoolsDashboard.Mixins.ListFilters
    * @appliesMixin EtoolsDashboard.Mixins.PaginationWithFilters
    * @appliesMixin EtoolsDashboard.Mixins.Date
    */
    const ViewAttachmentsMixins = compose(
      EtoolsDashboard.Mixins.CommonGeneral,
      EtoolsDashboard.Mixins.ListFilters,
      EtoolsDashboard.Mixins.Date,
      EtoolsDashboard.Mixins.Dropdown,
      EtoolsDashboard.Mixins.ReduxStore,
      EtoolsDashboard.Mixins.PaginationWithFilters,
    )(Polymer.Element)

    /**
     * `view-attachments` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @appliesMixin ViewAttachmentsMixins
     */
    class ViewAttachments extends ViewAttachmentsMixins {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'view-attachments';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          filteredAttachments: {
            type: Array,
            value: []
          },
          filteredTotal: {
            type: Number,
          },
          qs: {
            type: String
          },
          attachmentTypes: {
            type: Array,
            statePath: 'static.attachment_types'
          },
          static: {
            type: Object,
            statePath: 'static'
          },
          selectedAttachmentTypes: {
            type: Array,
            observer: 'filterChanged'
          },
          requiredDataLoaded: {
            type: Boolean,
            value: false
          },
          params: {
            type: Array,
            value: function() {
              return [
                {
                  qName: 'qs',
                  propName: 'qs',
                  xf: _.identity
                },
                {
                  qName: 'sort',
                  propName: 'sortOrder',
                  xf: _.identity
                },
                {
                  qName: 'sortBy',
                  propName: 'orderBy',
                  xf: _.identity
                },
                {
                  qName: 'type',
                  propName: 'docType',
                  xf: _.identity
                },
              ]
            }
          }
        };
      }

      static get observers() {
        return [
          '_updateUrl(qs, pageNumber, pageSize, initComplete, sortOrder, orderBy, selectedAttachmentTypes, requiredDataLoaded)',
          '_initListFilters(attachmentTypes)',
          '_init(active, attachmentTypes, urlParams)',
        ]
      }

      /**
       * Instance of the element is created/upgraded. Use: initializing state,
       * set up event listeners, create shadow dom.
       * @constructor
       */
      constructor() {
        super();
      }

      /**
       * Use for one-time configuration of your component after local DOM is initialized. 
       */
      ready() {
        this.addEventListener('sort-changed', this.sortOrderChanged)
        super.ready();
      }

      //attachmentTypes required to ensure redux statePaths are loaded
      _init() {
        let params = this.urlParams;
        if (!this.active || !params || !_.isEmpty(this.filteredAttachments)) {
          return;
        }
        this.set('initComplete', false);
        this.set('qs', params.qs || '');
        this.set('pageNumber', params.page ? parseInt(params.page) : 1);
        this.set('pageSize', params.size ? parseInt(params.size) : 10);
        this.set('sortOrder', params.sort || 'desc');
        this.set('orderBy', params.sortBy || '');
        this.set('selectedAttachmentTypes', params.docType ? this._setSelectedFromCollection(params.docType, this.attachmentTypes) : []);
        this.set('initComplete', true);
        this._updateSelectedFiltersValues();
      }

      _attachmentsLoaded(e) {
        e.stopImmediatePropagation();
        this.set('requiredDataLoaded', true);
      }

      _initListFilters(attachmentTypes) {
        this.debounce('init-list-filters', () => {
          this.initListFiltersData([
            {
              filterName: 'Document Type',
              type: 'esmm',
              optionValue: 'value',
              optionLabel: 'label',
              path: 'selectedAttachmentTypes',
              selectionOptions: _.union(this.attachmentTypes, this.static.partner_file_types).map(type => ({
                label: type,
                value: type
              })),
              alreadySelected: []
            },
          ]);
        }, 100)
      }

      _updateSelectedFiltersValues() {
        this.debounce('updateShownFilters', () => {
          let filtersValues = [
            {
              filterName: 'Document Type',
              selectedValue: _.map(this.selectedAttachmentTypes, 'value')
            }
          ]
        }, 200)
      }

      _filterDocuments() {
        const selectedParams = {
          searchString: this.qs,
          attachmentType: _.map(this.selectedAttachmentTypes, 'value'),
          orderBy: this.orderBy
        };
        const query = _.assign({}, _.omitBy(selectedParams, _.isEmpty), {
          pageNumber: this.pageNumber,
          pageSize: this.pageSize,
          order: this.sortOrder,
        });
        this.$.attachments.query(query);
      }

      _updateUrl() {
        if (!this.initComplete || !this.requiredDataLoaded) {
          return;
        }
        const qs = this.buildQueryString();
        this.updateAppState('dashboard/attachments', qs, true);
        if (this.requiredDataLoaded) {
          this._filterDocuments();
        }
      }

      _setSelectedFromCollection(param, collection) {
        const itemsFromParam = param.split('|');
        if (!isEmpty(itemsFromParam)) {
          return collection.filter(u => itemsFromParam.indexOf(u.value) > -1)
        }
        return [];
      }

      _getDownloadUrl(link) {
        return `${this.baseSite}${link}`
      }
    }

    window.customElements.define(ViewAttachments.is, ViewAttachments);
  </script>
</dom-module>