<link rel="import"
      href="../../../bower_components/moment-element/moment-element.html">

<script>
  window.EtoolsDashboard = window.EtoolsDashboard || {};
  const { head } = R;
  EtoolsDashboard.Actions = [
    {
      actionType: 'SET_COUNTRY_PROGRAMMES',
      propName: 'countryProgrammes',
      endpointProps: {
        name: 'countryProgrammes',
      }
    },
    {
      actionType: 'OFFICES',
      propName: 'offices',
      endpointProps: {
        name: 'offices',
        templateProps: {}
      }
    },
    {
      actionType: 'TRIPS',
      propName: 'trips',
      endpointProps: function () {
        return { name: 'trips', templateProps: { id: this.user.id } };
      }
    },
    {
      actionType: 'TRIPS_SUPERVISED',
      propName: 'tripsSupervised',
      endpointProps: function () {
        return { name: 'tripsSupervised', templateProps: { id: this.user.id } };
      }
    },
    {
      actionType: 'ACTION_PTS_BY_ME',
      propName: 'actionPointsByMe',
      endpointProps: function () {
        return { name: 'actionPointsByMe', templateProps: { id: this.user.id } };
      }
    },
    {
      actionType: 'ACTION_PTS_FOR_ME',
      propName: 'actionPointsForMe',
      endpointProps: function () {
        return { name: 'actionPointsForMe', templateProps: { id: this.user.id } };
      }
    },
    {
      actionType: 'PARTNERSHIPS',
      propName: 'partnerships',
      endpointProps: {
        name: 'partnerships',
        templateProps: {}
      }
    },
    {
      actionType: 'TRIPS_YEARS',
      propName: 'tripsYears',
      endpointProps: {}
    },
    {
      actionType: 'SECTIONS',
      propName: 'sections',
      endpointProps: {
        name: 'sections',
        templateProps: {}
      }
    },
    {
      actionType: 'SECTORS',
      propName: 'sectors',
      endpointProps: {
        name: 'sectors',
        templateProps: {}
      }
    },
    {
      actionType: 'UNICEF_USERS_DATA',
      propName: 'unicefUsers',
      endpointProps: {
        name: 'unicefUsers',
        templateProps: {}
      }
    },
    {
      actionType: 'static',
      propName: 'static',
      endpointProps: {
        name: 'static',
        templateProps: {}
      }
    },
    {
      actionType: 'USER_COUNTRY',
      propName: 'userCountry',
      endpointProps: {
        name: 'userCountry',
        templateProps: {}
      }
    },
    {
      actionType: 'HACT_GRAPHS',
      propName: 'hactGraphs',
      endpointProps: {
        name: 'hactGraphs',
        templateProps: {}
      },
    }
  ];

</script>