<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../../bower_components/iron-icons/communication-icons.html">

<link rel="import" href="../../../styles/grid-layout-styles.html">
<link rel="import" href="../../../styles/list-styles.html">
<link rel="import" href="../../../styles/shared-styles.html">
<link rel="import" href="../../../styles/page-layout-styles.html">



<dom-module id="marker-dialog">
  <template>
    <style include="shared-styles page-layout-styles list-styles grid-layout-styles">
      :host {
        --item-margin: {
          margin-left: 24px;
        }
      }
      .marker {
        width: 900px;
        min-height: 86px;
        overflow: scroll;
        top: 10%;
        max-height: 50%;
        overflow: hidden;
      }

      .intervention-block {
        padding-bottom: 16px;
        border-bottom: 1px solid var(--dark-divider-color);
      }
  
      paper-dialog paper-icon-button.close {
        position: absolute;
        top: 24px;
        right: 24px;
        margin: 0 !important;
        padding: 0;
      }
  
      paper-icon-button {
        width: 25px;
        height: 25px;
        padding: 0;
        margin-right: 8px;
        color: var(--dark-secondary-text-color);
      }
  
      paper-dialog h2 {
        color: var(--dark-secondary-text-color);
        line-height: 16px;
        font-weight: normal;
      }
  
      paper-dialog h2.type {
        margin-top: 8px;
        font-size: 14px;
      }
  
      paper-dialog h2.partner-name {
        font-size: 14px;
        text-transform: uppercase;
        line-height: 14px;
        font-weight: 500;
      }
  
      paper-dialog a.partner-number {
        color: var(--accent-color);
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
      }
  
      paper-dialog span.partner-title {
        @apply --item-margin;
      }
  
      paper-dialog .partner {
        padding-top: 8px;
      }

      .additonal-info {
        color: var(--dark-secondary-text-color);
        margin-top: 5px;

      }

      .interventions {
        margin-bottom: 50px;
        height: 480px;
      }
  
      .interventions>div:nth-child(2), .additional {
        @apply --item-margin;
      }
  
      .wrapper {
        overflow: auto;
      }
  
      .sections {
        padding-top: 35px;
        min-width: 150px;
        overflow: auto;
      }
  
      paper-dialog h2.sector {
        background: var(--gray-light);
        color: white;
        width: 133px;
        padding: 8px;
        text-align: center;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 2px;
      }
    </style>
    <paper-dialog class="marker"
                  opened="{{opened}}"
                  with-backdrop>
      <paper-icon-button class="close"
                         icon="close"
                         on-tap="_close"></paper-icon-button>
      <div class="layout-horizontal start-align list-panel title-row">
        <paper-icon-button icon="communication:location-on"></paper-icon-button>
        <div class="layout-vertical">
          <h1 sub-title>[[data.name]]</h1>
        </div>
      </div>
      <div class="layout-horizontal interventions">
    
        <div class="sections">
          <template is="dom-repeat"
                    items="[[data.sections]]"
                    as="sector">
            <h2 class="sector">[[sector]]</h2>
          </template>
        </div>
    
        <div class="wrapper">
          <div class="layout-vertical list-panel title-row">
            <template is="dom-repeat"
                      items="[[data.interventions]]">
              <div class="layout-vertical intervention-block">
                <h2 class="partner-name">[[item.partner_name]]</h2>

                <div class="partner">
                  <a class="partner-number"
                         href="[[_getHref(item.id)]]"
                         target="_blank">[[item.number]]:</a>
                  <span class="partner-title">[[item.title]] </span>
                </div>
                <div class="additonal-info">
                  <div class="layout-horizontal">
                    <span>Grants: </span>
                    <span class="additional">[[_formatSplits(item.grants)]]</span>
                  </div>
                  <div class="layout-horizontal">
                    <span>Donors: </span>
                    <span class="additional">[[_formatSplits(item.donors)]]</span>
                  </div>
                  <div class="layout-horizontal">
                    <span>Offices: </span>
                    <span class="additional">
                      <template is="dom-repeat" items="[[item.offices]]" as="office">
                        [[office]] 
                      </template>
                    </span>
                  </div>
                  <div class="layout-horizontal">
                    <span>Focal Points: </span>
                    <span class="additional">
                      <template is="dom-repeat" items="[[item.unicef_focal_points]]" as="focalPoint">
                        [[focalPoint]] 
                      </template>
                    </span>
                  </div>
                  <template is="dom-if"
                            if="[[item.results]]">
                    <div class="layout-horizontal">
                      <span>CP Outputs: </span>
                      <span class="additional">[[item.results]]</span>
                    </div>
                  </template>
                  <template is="dom-if"
                            if="[[item.clusters]]">
                    <div class="layout-horizontal">
                      <span>CP Outputs: </span>
                      <span class="additional">[[item.clusters]]</span>
                    </div>
                  </template>
                  </div>
              </div>
            </template>
    
          </div>
        </div>
      </div>
    </paper-dialog>
    
    </template>

  <script>
    /**
     * `marker-dialog` Description
     *
     * @summary ShortDescription.
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class MarkerDialog extends Polymer.Element {
      /**
       * String providing the tag name to register the element under.
       */
      static get is() {
        return 'marker-dialog';
      }

      /**
       * Object describing property-related metadata used by Polymer features
       */
      static get properties() {
        return {
          data: {
            type: Object
          },
          interventions: {
            type: Array
          },
          opened: {
            type: Boolean,
            value: false
          }
        };
      }

      /**
       * Instance of the element is created/upgraded. Use: initializing state,
       * set up event listeners, create shadow dom.
       * @constructor
       */
      constructor() {
        super();
      }

      /**
       * Use for one-time configuration of your component after local DOM is initialized.
       */
      ready() {
        super.ready();
      }

      _values(obj) {
        return values(obj);
      }

      _close() {
        this.opened = false;
      }

      _getHref(id) {
        return '/pmp/interventions/'+ id + '/details';
      }

      _formatSplits(str) {
        return str.split('|').join(' | ');
      }

    }

    window.customElements.define(MarkerDialog.is, MarkerDialog);
  </script>
</dom-module>